[2020-03-19 09:49] spoenemann opened #2 "Some extensions use yarn"
We should support extensions that use yarn. If an extension repository contains a `yarn.lock` file, then

 * Run `yarn install` instead of `npm install`
 * add `yarn: true` to the `ovsx.publish` options

We also need to `npm install --global yarn` in the GitHub workflow.

[2020-03-20 07:51] jankeromnes opened #3 "[christian-kohler.path-intellisense] Error: Images in README.md must come from an HTTPS source"
[code]

[2020-03-20 07:52] jankeromnes opened #4 "[felixfbecker.php-debug][felixfbecker.php-intellisense] Error: Extension [...] version [...] is already published."
[code]

[code]

[2020-03-20 07:56] jankeromnes opened #5 "Publishing "ms-azuretools.vscode-docker" fails"
[code]

[2020-03-20 07:57] jankeromnes opened #6 "Publishing "ms-mssql.mssql" fails"
[code]

[2020-03-20 07:59] jankeromnes opened #7 "[ms-python.python] Error: Extension python version 2020.2.3 is already published."
[code]

[2020-03-20 08:02] jankeromnes commented on #4
I think this is because the `"version"` in `package.json` are incorrect:

- https://github.com/felixfbecker/vscode-php-debug/blob/v1.13.0/package.json#L4 (expected: `"1.13.0"`, actual `"0.0.0-development"`)

- https://github.com/felixfbecker/vscode-php-intellisense/blob/v2.3.14/package.json#L10 (expected: `"2.3.14"`, actual `"1.5.4"`)

[2020-03-20 08:04] jankeromnes commented on #6
Likely a duplicate of #2.

[2020-03-20 08:04] #6 closed

[2020-03-20 08:04] jankeromnes commented on #5
Likely a duplicate of #2.

[2020-03-20 08:04] #5 closed

[2020-03-20 08:49] #2 closed

[2020-03-20 08:57] jankeromnes commented on #7
- https://github.com/microsoft/vscode-python/blob/2020.2.64397/package.json#L5
  - expected: `"2020.2.64397"`
  - actual: `"2020.2.3"`

[2020-03-20 09:28] spoenemann commented on #4
@felixfbecker is using [semantic-release-vsce](https://www.npmjs.com/package/semantic-release-vsce) for publishing. Maybe we need some equivalent for openvsx?

[2020-03-20 09:34] spoenemann commented on #7
They seem to use a tag name strategy where the third part of the version differs from the actual version. But I haven't found any documentation on that.

[2020-03-20 09:38] jankeromnes commented on #7
@spoenemann since we already provide the intended version in `extensions.json`, maybe we could enforce it, e.g. by editing `package.json` just before publishing with `ovsx`?

[2020-03-20 09:44] spoenemann commented on #7
Yes, we could do that. But then we need to be very careful to choose the correct gitref corresponding to the version.

[2020-03-20 12:24] jankeromnes opened #8 "[Equinusocio.vsc-material-theme] Error: Cannot resolve bundled extension"
## Equinusocio.vsc-material-theme

[code]

[2020-03-20 12:26] jankeromnes opened #9 "[Zignd.html-css-class-completion] Command failed: yarn run vscode:prepublish"
[code]

[2020-03-20 12:27] jankeromnes opened #10 "[octref.vetur] Error: @types/vscode ^1.43.0 greater than engines.vscode ^1.42.0. Consider upgrade engines.vscode or use an older @types/vscode version"
[code]

[2020-03-20 12:28] jankeromnes opened #11 "[vscjava.vscode-java-pack] Error: Cannot resolve bundled extension"
[code]

[2020-03-20 12:30] jankeromnes opened #12 "[zhuangtongfa.material-theme] Cannot find module './editorTheme/oneDarkPro'"
[code]

[2020-03-20 14:47] jankeromnes commented on #12
So first of all, the first line shouldn't be `npm install` but `yarn install`, because https://github.com/Binaryify/OneDark-Pro has a `yarn.lock` file.

[2020-03-20 15:46] jankeromnes commented on #11
Same error as #8.

[2020-03-20 15:51] jankeromnes opened #13 "[ms-azuretools.vscode-docker][ms-mssql.mssql][ms-vscode.powershell-preview] Error: Cannot resolve dependency"
## ms-azuretools.vscode-docker

[code]

## ms-mssql.mssql

[code]

[2020-03-20 15:58] jankeromnes commented on #13
### ms-vscode.powershell-preview

[code]

[2020-03-20 16:01] jankeromnes commented on #8
## vscjava.vscode-java-pack

[code]

[2020-03-20 16:04] jankeromnes commented on #11
Merged into #8.

[2020-03-20 16:04] #11 closed

[2020-03-20 16:06] jankeromnes commented on #9
This works now:

[code]

Not sure what changed though.

[2020-03-20 16:06] #9 closed

[2020-03-20 16:13] jankeromnes commented on #8
So, while extension `` is MIT license, it [depends on `VisualStudioExptTeam.vscodeintellicode`](https://github.com/microsoft/vscode-java-pack/blob/d59d860a6754a4cb991c5b5cd3f9961ff7484bbb/package.json#L143) which is itself not open source.

So let's remove `vscjava.vscode-java-pack` for now.

[2020-03-20 17:01] jankeromnes commented on #8
Now failed with:

[code]

[2020-03-20 17:26] #8 closed

[2020-03-21 12:41] jankeromnes opened #14 "[Ikuyadeu.r] SyntaxError: Cannot use import statement outside a module"
[code]

[2020-03-21 12:42] jankeromnes opened #15 "[Shan.code-settings-sync] Error: Command failed: npm run vscode:prepublish Exit status 2"
[code]

[2020-03-25 07:34] jankeromnes commented on #14
This seems to have been fixed upstream, because publishing works now:

[2020-03-25 07:34] #14 closed

[2020-03-25 08:12] jankeromnes opened #17 "[ms-vscode.references-view] npm ERR! 404 'flatmap-stream@0.1.1' is not in the npm registry."
Publishing the `ms-vscode.references-view` extension added in https://github.com/open-vsx/publish-extensions/pull/16 didn't work:

[code]

(See [full logs](https://github.com/open-vsx/publish-extensions/runs/532380660)).

[2020-03-25 10:13] akosyakov commented on #17
I think we used wrong version, in Theia we tested this commit: https://github.com/microsoft/vscode-references-view/commits/05339da0c4d62d9804f9e33e47cafc2fcf1b2afa

cc @vince-fugnitto

[2020-03-25 11:43] jankeromnes commented on #17
Maybe we should set this in `extensions.json`?

[code]

[2020-03-25 11:54] akosyakov commented on #17
yes

[2020-03-25 11:56] jankeromnes commented on #17
@akosyakov Ok, I can do the change, but note that I think this will publish version `0.0.47` and not `0.0.4`: https://github.com/microsoft/vscode-references-view/blob/05339da0c4d62d9804f9e33e47cafc2fcf1b2afa/package.json#L6

[2020-03-25 11:58] #17 closed

[2020-03-31 08:38] akosyakov opened #18 "java extension is missing LS"
It is transferred from https://github.com/eclipse-theia/theia/issues/7448

[2020-03-31 14:49] marcdumais-work commented on #18
Maybe related? https://github.com/redhat-developer/vscode-java/issues/1336

[2020-04-02 13:28] vince-fugnitto opened #19 "node-debug: incorrect version published due to typo"
**Description**

Due to a [typo](https://github.com/open-vsx/publish-extensions/blob/master/extensions.json#L242) (`checkpoint` > `checkout`), and incorrect version of `node-debug` was published which is [incompatible with theia](https://github.com/eclipse-theia/theia/issues/7488). Would it be possible to replace the current `node-debug` version with the version that successfully works?

[2020-04-02 14:10] #19 closed

[2020-04-02 14:10] spoenemann commented on #19
The previously published extension is deleted. The new version will be published at the next scheduled action run.

[2020-04-03 16:35] vince-fugnitto commented on #19
Do you know when the next scheduled run would be?
I don't see the `node-debug` builtin as of yet in open-vsx.

[2020-04-06 06:33] spoenemann opened #20 "[ms-vscode.node-debug] The engine "node" is incompatible with this module"
[code]

[2020-04-06 06:34] spoenemann commented on #19
That's due to #20.

[2020-04-06 06:57] akosyakov commented on #20
fyi Theia is still using Node.js to run VS Code extensions and node debug adapters, it does not make sense to use LTE to build them

[2020-04-06 07:46] spoenemann commented on #20
Ok let's switch to Node 10.x

[2020-04-06 07:58] jankeromnes commented on #18
The extension `redhat.java` was removed from `extensions.json` in https://github.com/open-vsx/publish-extensions/commit/be77f96166ea33ffd2cd0bf0e6a2eba6dcb1b11b

It is now published directly by RedHat, and version `0.59.1` should now include the Java Language Server: https://open-vsx.org/extension/redhat/java

[2020-04-06 07:58] #18 closed

[2020-04-06 08:03] jankeromnes commented on #20
Ok, since Node.js v10 still has status "Active LTS", and still has until `2021-04-30` before reaching end-of-life, it seems acceptable to use the older version here.

Source: https://nodejs.org/en/about/releases/

[2020-04-06 08:08] #20 closed

[2020-04-06 08:34] jankeromnes commented on #13
Updates:

- Namespace `ms-azuretools` has since been claimed: https://github.com/eclipse/open-vsx.org/issues/5

- `ms-mssql.mssql` and `ms-vscode.powershell-preview` were published successfully in https://github.com/open-vsx/publish-extensions/runs/523496238:

[code]

[code]

[2020-04-06 08:35] #13 closed

[2020-04-07 14:14] jankeromnes opened #22 "[Dart-Code.dart-code] npm ERR! Failed at the dart-code@3.9.1 ensure-icon-submodule script."
https://github.com/open-vsx/publish-extensions/runs/567512213:

[code]

[2020-04-07 14:37] jankeromnes opened #23 "[rebornix.ruby] npm ERR! 404 Not Found - GET https://registry.npmjs.org/language-server-ruby - Not found"
https://github.com/open-vsx/publish-extensions/runs/567512213:

[code]

[2020-04-07 14:43] jankeromnes commented on #3
The upstream issue was fixed, and somehow publishing seems to have worked, even though I couldn't find the corresponding GitHub Workflow:

https://open-vsx.org/extension/christian-kohler/path-intellisense

[2020-04-07 14:43] #3 closed

[2020-04-07 14:44] jankeromnes commented on #10
Seems to have worked? https://open-vsx.org/extension/octref/vetur

Also I can't find the corresponding GitHub Actions Workflow.

[2020-04-07 14:44] #10 closed

[2020-04-13 07:31] jankeromnes opened #25 "[alefragnani.Bookmarks][alefragnani.project-manager] npm ERR! Bookmarks@11.1.0 vscode:prepublish: `webpack --mode production`"
[code]

[2020-04-13 07:33] jankeromnes commented on #25
[code]

[2020-04-13 11:04] jankeromnes opened #26 "[naumovs.color-highlight] npm ERR! 404 Not Found - GET https://registry.npmjs.org/event-stream/-/event-stream-3.3.6.tgz"
https://github.com/open-vsx/publish-extensions/runs/581697936

[code]

[2020-04-27 14:10] vince-fugnitto opened #28 "node-debug: extension is not properly packaged"
**Description**

The [vscode-node-debug](https://open-vsx.org/extension/ms-vscode/node-debug) is not properly packaged meaning that the extension does not work correctly when consumed. As a consequence, users are not able to successfully debug (including [running mocha tests](https://github.com/eclipse-theia/theia/issues/7488#issuecomment-619999485)).

From downloading the extension, it is clear t

[2020-04-27 14:49] akosyakov commented on #28
@vince-fugnitto this extension namespace was claimed by MS, you will need to file an issue in vscode-node-debug and vscode-node-debug2 to ask them to release for Open VSX as well, since they are owner now

[2020-04-28 06:31] #28 closed

[2020-04-28 13:14] vince-fugnitto commented on #28
@akosyakov I wasn't aware that they had claimed the namespace and were interested in publishing to open-vsx :) I thought that since the extensions were builtins (and not usually published on the marketplace) we'd want to take care of publishing them ourselves, they are required for other plugins to work correctly.

Is there a standard way forward when requesting that they publish to open-vsx?

[2020-04-28 13:23] akosyakov commented on #28
these extensions are published to MS marketplace:
- https://marketplace.visualstudio.com/items?itemName=ms-vscode.node-debug
- https://marketplace.visualstudio.com/items?itemName=ms-vscode.node-debug2

[2020-04-28 13:23] akosyakov commented on #28
Not yet, we wait till the registry is transfered to Eclipse Foundation.

[2020-04-29 06:41] jankeromnes commented on #7
`ms-python.python` was removed from `extensions.json` in https://github.com/open-vsx/publish-extensions/commit/784a105cbad5c15fa41b797cb6a30c48bf1550e4

[2020-04-29 06:41] #7 closed

[2020-05-11 20:33] marcdumais-work opened #29 "hbenl.vscode-test-explorer, ms-python.python : missing "out" folder"
https://open-vsx.org/extension/hbenl/vscode-test-explorer

Normally after build it should have a `out` folder that contains the "executables" (.js files) for that extension, that gets packaged in the `.vsix`, but that's missing from what's published on open vsx.

Building it locally, I was able to obtain that folder with these commands:
[code]

I see the [`npm install` is covered](https://github.c

[2020-05-21 10:08] jankeromnes commented on #23
Publishing of `rebornix.ruby` should be fixed by https://github.com/open-vsx/publish-extensions/pull/31.

In the latest run, it still failed with:

[code]

but that's expected, because that dependency only got published right after that:

[code]

Since the second extension was published successfully, I expect `rebornix.ruby` to also get published successfully on the next CI run.

[2020-05-21 10:13] jankeromnes commented on #29
Good catch, thanks @marcdumais-work.

@spoenemann Is `npm run build` or `yarn run build` typically a required step before publishing an extension?

If so, should it always be done explicitly before `ovsx publish`, or should `ovsx publish` take care of that?

[2020-05-22 08:17] spoenemann commented on #29
No, not always. I think most extensions do that as part of the `prepare` step (i.e. during `yarn install`) or the `vscode:prepublish` step.

[2020-05-22 15:51] marcdumais-work commented on #29
That's my experience as well. But since VS Code extensions are self-published, so long as the author knows how to get to a working package, it works.

BTW, I think the same or similar thing was happening with extension `node-debug`: https://github.com/open-vsx/publish-extensions/issues/28 . That one as well I was able to get a working `.vsix`, IIRC by manually calling `npm install; npm build`.

[2020-06-03 20:26] marcdumais-work commented on #29
I think `ms-python.python` has the same problem:
[code]

[2020-06-05 12:27] jankeromnes opened #32 "[appulate.filewatcher] npm ERR! filewatcher@1.0.3 compile: `tsc -p ./` npm ERR! Exit status 2"
[code]

[2020-06-05 12:28] jankeromnes opened #33 "[austin.code-gnu-global] Error: SVGs can't be used as icons: logo.svg"
[code]

This makes me very sad. SVGs should definitely be supported.

[2020-06-05 12:29] jankeromnes commented on #22
Still failing:

[code]

[2020-06-05 12:33] jankeromnes opened #34 "[ikappas.phpcs][IBMBlockchain.ibm-blockchain-platform] Error: Command failed: npm install sh: 1: rimraf: not found"
[code]

[2020-06-05 12:35] jankeromnes opened #35 "[onecentlin.laravel-blade] Error: Command failed: npm run vscode:prepublish sh: 1: pushd: not found"
[code]

[2020-06-05 12:35] jankeromnes commented on #15
Still failing:

[code]

[2020-06-05 13:10] jankeromnes commented on #29
Fixed in https://github.com/open-vsx/publish-extensions/pull/36 by adding an extra `prepublish` option to the extension-publishing specification.

Also, I've added back `ms-python.python`, because the version on https://open-vsx.org is outdated (and broken due to missing `out` dir), and the namespace owner hasn't published anything yet.

I can also add back `node-debug` and `node-debug2`, but I'm

[2020-06-05 13:13] jankeromnes commented on #29
Ok, checked https://github.com/eclipse-theia/theia/blob/master/package.json again and found that `ms-python.python` is not built-in (i.e. I can add it back here), but `node-debug` and `node-debug2` are built-in (i.e. your script is already publishing them).

[2020-06-05 17:28] marcdumais-work commented on #29
Nope. They are fetched by vscode's build and not packaged as builtin extensions AFAIK, unless maybe they're burred inside one of the builtin. So far we have a fork for these repos no theia-ide and build/publish them (to GH Releases) manually

[2020-06-08 07:59] spoenemann commented on #33
SVGs are a security risk: https://code.visualstudio.com/api/working-with-extensions/publishing-extension#publishing-extensions

[2020-06-08 10:15] #29 closed

[2020-06-08 10:16] jankeromnes commented on #33
Today I learned that you can add JavaScript code to your SVGs. 🤦

[2020-06-14 07:26] jankeromnes opened #37 "[alexcvzz.vscode-sqlite] sh: 1: preact: not found"
[code]

[code]

[2020-06-14 07:34] jankeromnes commented on #35
Seems to be a built-in `bash` function: https://stackoverflow.com/questions/5193048/bin-sh-pushd-not-found

Maybe `ovsx` is using `sh` to run `vscode:prepublish`?

[2020-06-14 07:42] jankeromnes commented on #32
Failure seems to be:

[code]

[2020-06-14 07:46] jankeromnes opened #38 "[dsznajder.es7-react-js-snippets] Error: @types/vscode 1.45.1 greater than engines.vscode ^1.45.0. Consider upgrade engines.vscode or use an older @types/vscode version"
[code]

[2020-06-14 07:47] jankeromnes opened #39 "[emmanuelbeziat.vscode-great-icons] Error: Invalid URL in field 'repository': git+https://github.com/EmmanuelBeziat/vscode-great-icons.git"
[code]

[2020-06-14 07:52] jankeromnes commented on #39
Reported upstream as https://github.com/eclipse/openvsx/issues/128

[2020-06-14 07:54] jankeromnes opened #40 "[formulahendry.auto-rename-tag] Error: @types/vscode ^1.44.0 greater than engines.vscode ^1.41.1. Consider upgrade engines.vscode or use an older @types/vscode version"
[code]

[2020-06-14 08:00] jankeromnes opened #41 "[matklad.rust-analyzer] error TS2307: Cannot find module 'vscode' or its corresponding type declarations."
[code]

[code]

[2020-06-14 08:11] jankeromnes opened #42 "[mtxr.sqltools] Error: SVGs are restricted in README.md; please use other file image formats, such as PNG: https://raw.githubusercontent.com/mtxr/vscode-sqltools/master/static/header-hero.svg?sanitize=true"
[code]

[2020-06-14 08:42] #35 closed

[2020-06-18 15:15] Kreyren opened #48 "UnhandledPromiseRejectionWarning: SyntaxError: Unexpected token } in JSON at position 17990"
![image](https://user-images.githubusercontent.com/11302521/85038700-353b4700-b187-11ea-86cb-f58966982423.png)

<details>
<summary>Output</summary>

[code]

</details>

Snapshot: https://gitpod.io/#snapshot/65a9d102-d715-4a5b-8a42-1d343a509783

[2020-06-18 15:16] Kreyren opened #49 "Add hadolint (GPL-3.0)"
https://github.com/hadolint/hadolint

https://marketplace.visualstudio.com/items?itemName=exiasr.hadolint

[2020-06-18 15:16] Kreyren commented on #49
cc @jankeromnes

[2020-06-18 15:18] Kreyren opened #50 "Add Render Line Endings"
https://marketplace.visualstudio.com/items?itemName=medo64.render-crlf

[2020-06-18 22:27] hallvard opened #51 "draw.io extension (GPL-3.0)"
I would like to integrate draw.io into gitpod, e.g. using this extension: https://github.com/hediet/vscode-drawio

This particular one failed with en error related to registerCustomEditorProvider is not a function. I'm guessing it is using new API for registering custom editors that is not official or not supported by gitpod.

[2020-06-18 22:30] hallvard opened #52 "Code Tours extension"
I've would like to try this extension: https://github.com/vsls-contrib/codetour#readme
It fails with an error message saying (intermediate value).flat is not a function.
This extension would be a great addition to gitpod.

[2020-06-19 06:14] jankeromnes commented on #48
Indeed sorry. Fixed yesterday in https://github.com/open-vsx/publish-extensions/commit/d9d84ec321132d26e39d97b55fad1d86809aa7d5.

[2020-06-19 06:14] #48 closed

[2020-06-19 06:15] jankeromnes commented on #49
Interesting, thanks!

But I don't think that GPL-3 licensed extensions can be used on Open VSX yet -- @spoenemann do you know?

[2020-06-19 06:21] jankeromnes commented on #51
Hi @hallvard!

I wouldn't mind automatically publishing this extension to https://open-vsx.org, except that I don't think GPL-3 extensions are compatible yet, cc @spoenemann (same problem as https://github.com/open-vsx/publish-extensions/issues/49).

Ah, that could indeed be the case. For VS Code API compatibility issues in Gitpod or Theia, please open an issue in https://github.com/eclipse-theia/

[2020-06-19 06:48] jankeromnes commented on #37
Not actually fixed.

[2020-06-19 06:49] jankeromnes commented on #34
Not actually fixed.

For some reason `npm install -g rimraf` didn't help.

[2020-06-19 06:52] spoenemann commented on #49
Right. We haven't built in any technical restriction regarding the license yet, but we'll do that as the transfer to the Eclipse Foundation gets forward. The admissible licenses are Apache-2.0, EPL-2.0, MIT, ISC, BSD-2-Clause, BSD-3-Clause. But you can contact license@eclipse.org to determine if another license, like GPL-3, is acceptable.

[2020-06-19 07:27] jankeromnes opened #53 "[wwm.better-align] Error: Images in README.md must come from an HTTPS source: http://vsmarketplacebadge.apphb.com/version-short/wwm.better-align.svg"
[code]

[2020-06-19 07:31] #50 closed

[2020-06-19 07:31] #52 closed

[2020-06-19 07:31] #22 closed

[2020-06-19 07:33] Kreyren commented on #48
***kreyren** mumbles about quality assurance*

[2020-06-19 07:36] Kreyren commented on #49
Why wouldn't the license that basically built the open-source be acceptable here? :thinking:

[2020-06-19 09:10] spoenemann commented on #49
I don't know, but I'm sure the Eclipse Foundation has good reasons for it. You could ask via the email address posted above.

[2020-06-19 09:38] Kreyren commented on #49
Email sent

On June 19, 2020 11:10:49 AM GMT+02:00, "Miro Spönemann" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-06-22 09:51] jankeromnes commented on #12
Fixed: https://open-vsx.org/extension/zhuangtongfa/material-theme

[2020-06-22 09:51] #12 closed

[2020-06-25 09:21] Mazwak commented on #41
After digging into rust-analyzer source, I think some things must be done before that.
However, I'm not sure it is related to this.

Before creating the vsix, there's some github actions which call carge xtask to modify the package.json.

It changes the version, the releasetag and the proposedAPI entry.

My first guess would be proposedAPI, which is disabled by cargo xtask for release.

[2020-06-30 09:32] pavel-the-best opened #71 "Actions fail constantly"

[2020-06-30 09:49] jankeromnes commented on #71
Hi @pavel-the-best! Indeed, the GitHub Action fails constantly, because a few extensions can't be published (see other open issues).

However, most of the extensions in `extensions.json` get auto-published successfully.

Please let me know if you have ideas to improve the situation. (Closing as duplicate of all other open issues.)

[2020-06-30 09:49] #71 closed

[2020-06-30 10:18] jankeromnes opened #72 "Add kortina.vscode-markdown-notes (GPL-3.0)"
E.g. by adding this to `extensions.json`:

[code]

Unfortunately, the extension is licensed under GPL-3.0, and it's currently unclear whether GPL-3.0 extensions are compatible with https://open-vsx.org -- see also https://github.com/open-vsx/publish-extensions/issues/49#issuecomment-646469728

[2020-06-30 10:43] jankeromnes opened #73 "[Equinusocio.vsc-material-theme] The engine "node" is incompatible with this module. Expected version ">=12". Got "10.21.0""
[code]

https://github.com/open-vsx/publish-extensions/runs/820891153?check_suite_focus=true

[2020-07-07 20:57] marcdumais-work opened #77 "[markdownlint] non-working extension published"
I just checked the latest and assume all versions are similarly non-working. I think it's due to requiring a non-standard way to build. Here's what worked for me:

[code]
working extension size: ~150KB
non-working extension size: ~18k

[2020-07-08 07:34] #77 closed

[2020-07-08 10:08] matklad commented on #41
Yeah, we do some automated `package.json` updates before publishing:

https://github.com/rust-analyzer/rust-analyzer/blob/41feb816c98894d48df97193eb085738e405a3c2/xtask/src/dist.rs#L35-L48

Not sure that the error trace from the issue relates to that though -- seems something's wrong with rollup? We've recently did some updates for our npm bulid process, so the thing might have just fixed itself?

[2020-07-08 11:47] jankeromnes commented on #41
Thanks a lot for looking into this!

I think I've found a problem. It seems that we try to run `npm install` in the root of the repository (regardless whether a custom `location` is provided):

https://github.com/open-vsx/publish-extensions/blob/fadbff41ac5fa36a70e46c0dda66417be3db98ff/publish-extensions.js#L68

However, the extension's `package.json` seems to be in [editors/code/](https://github.

[2020-07-08 11:49] matklad commented on #41
`cargo xtask dist`, but you probably don't want to do that -- this builds the whole distribution, with rust-analyzer binary, etc.

[2020-07-08 11:53] jankeromnes commented on #41
Thanks! Maybe that's worth trying (assuming GitHub Actions can do that), since we need a complete `.vsix` file to upload to OpenVSX.

[2020-07-09 06:39] jankeromnes commented on #23
Indeed, `rebornix.ruby` is now successfully published! 🎉 https://open-vsx.org/extension/rebornix/ruby

[2020-07-09 06:39] #23 closed

[2020-07-09 06:43] jankeromnes commented on #25
Thankfully, `alefragnani.Bookmarks` has been published manually by a user: https://open-vsx.org/extension/alefragnani/Bookmarks

Many thanks @appelgriebsch! 🙏 I'm happy to remove `alefragnani.Bookmarks` from this list if you're interested in taking over the publishing (which we're currently trying but failing at over here).

[2020-07-09 06:47] jankeromnes commented on #41
Update: `matklad.rust-analyzer` `0.4.0-dev` was succesfully published to OpenVSX! 🎉

https://open-vsx.org/extension/matklad/rust-analyzer

[2020-07-09 06:47] #41 closed

[2020-07-09 07:32] #73 closed

[2020-07-10 07:28] jankeromnes opened #80 "[add-extension] Improve extension `package.json` location detection"
When you do `node add-extension https://...`, and the extension's `package.json` is not in the root of the repo, sometimes the [current `location` auto-detection](https://github.com/open-vsx/publish-extensions/blob/8e0c2bef037591d489d1c462cc6f753e927d9d05/add-extension.js#L63-L73) fails:

[code]

It would be cool to improve the location detection, e.g. by searching for a `package.json` that contai

[2020-07-10 07:37] jankeromnes commented on #73
Fixed! 🎉

[code]

[2020-07-10 12:05] #4 closed

[2020-07-10 17:36] blackva opened #81 "Pulling multiple extensions at once"
Hey! I'd like to gather a good number of extensions and pull them all at once. Quickly going through a few issues and pull requests, I found 2 problems so far:
1. An author of the extension may be against adding it to the registry. If they are and the extension is added, it will cause a lot headache to the maintainers.
As far as I know, there is no way to remove an extension once it is in. Removin

[2020-07-10 20:21] jankeromnes commented on #81
Hi @blackva! Thanks for sharing your thoughts.

Firstly, please note that this repository is not the OpenVSX registry itself -- it's just a handy publishing CI to quickly upload some open-source extensions to https://open-vsx.org (but there you'll also find some extensions published by other people). We manually verify every extension that is added here (especially checking for a compatible open-s

[2020-07-10 20:23] jankeromnes commented on #81
FYI, our current understanding of which open-source licenses are compatible with OpenVSX is:

We have also asked whether GPL-3 could be considered compatible in https://github.com/open-vsx/publish-extensions/issues/49 but haven't yet heard back from Eclipse, so we're holding off on adding GPL-3 licensed extensions for now.

[2020-07-10 20:25] jankeromnes commented on #81
That sounds essentially like what consumers of OpenVSX already do (e.g. Theia, Gitpod, VSCodium, Eclipse Che, etc) so this use case sounds fine to me (e.g. downloading `.vsix` files directly from https://open-vsx.org)

[2020-07-11 04:03] blackva commented on #81
Thank you for such a detailed reply! Everything you said sounds very optimistic. Just to clarify how an acceptable extension should look like:
- Should have one of the compatible licenses in its package.json, LICENSE file and on the extensions' page in "License" section.
- If it depends on other extension, it's license applies as well. Although, I am not yet sure how to check it. Can you please sh

[2020-07-11 06:51] blackva commented on #81
Additionally, can you please explain the point of adding version and checkout to the extension's entry. What are the benefits from doing it?

[2020-07-13 17:35] jankeromnes commented on #81
You're very welcome! 🙂

Technically it should have "only compatible licenses" (some extensions have multiple licenses, but if it uses one license that is incompatible, it can't be added to OpenVSX, even if the other licenses are compatible).

Also, I believe the "License" page in Microsoft's Marketplace is just fed from the `license` field in `package.json`. That is the only license that is releva

[2020-07-13 18:22] jankeromnes commented on #81
Sure. FYI, the publishing algorithm is briefly explained [here](https://github.com/open-vsx/publish-extensions#how-are-extensions-published).

- `"version"` only serves to skip publishing if a specific version is already available on https://open-vsx.org (i.e. no need to keep trying to publish the same version over and over if it remains the same), or if a more recent version is already available

[2020-07-13 20:31] jankeromnes commented on #49
Since we haven't heard back yet, I've also asked about GPL-3.0 (since I was emailing Eclipse about another license anyway).

This is the official response:

So, unfortunately, we cannot accept GPL-licensed extensions into https://open-vsx.org at the moment. Sorry about that. :/

[2020-07-14 05:24] blackva commented on #81
Yes, your reply is definetely very helpful! Thank you!

I made a tool a few days ago and it seems to work fine. The result of the first run, where it was specified to gather only extensions with MIT and Apache-2.0 licenses, it found 2515 extensions. There were some errors and Github went down for a few hours during the process, so it would have had a bit more extensions if everything would be fine

[2020-07-14 05:56] blackva commented on #81
Yes, your reply is definetely very helpful! Thank you!

I made a tool a few days ago and it seems to work fine. The result of the first run, where it was specified to gather only extensions with MIT and Apache-2.0 licenses, it found 2515 extensions. There were some errors and Github went down for a few hours during the process, so it would have had a bit more extensions if everything would be fine

[2020-07-14 07:25] spoenemann commented on #81
@blackva thank you for your enthusiasm on getting many great extensions into Open VSX! However, we are still in the process of transferring the registry to the Eclipse Foundation. The current plan is to have that transfer done by October. When it's done, we will also have automatic checks for extension licenses. For this reason, I think it's ok that the registry contents are currently growing slow

[2020-07-14 08:19] blackva commented on #81
@spoenemann Sure. Do you expect making separate TOS for the registry or it is going to be the same as right now?

[2020-07-14 11:08] spoenemann commented on #81
The Terms of Use will be the same as now, but those are very generic. In addition, there will be a Publisher Agreement that every extension publisher will have to confirm.

[2020-07-15 14:09] jankeromnes opened #83 "[Ionide.Ionide-fsharp] Error: Cannot resolve dependency: ms-dotnettools.csharp"
[Source](https://github.com/open-vsx/publish-extensions/issues/81#issuecomment-657693685)

[2020-07-16 10:29] #53 closed

[2020-07-16 10:29] #39 closed

[2020-07-17 06:19] rohan-sircar commented on #41
Thanks @jankeromnes and @matklad for making this happen!

[2020-07-17 06:20] rohan-sircar commented on #41
Thanks @jankeromnes, @matklad and the open-vsx team for making this happen!

[2020-07-17 15:35] jankeromnes opened #84 "[vscjava.vscode-java-debug] Missing Java Debug Server in packaged extension"
`vscjava.vscode-java-debug-0.25.1.vsix` is 119K on OpenVSX, while it should be 2.5M instead:

https://open-vsx.org/extension/vscjava/vscode-java-debug

The reason is that the Java Debug Server accidentally wasn't packaged into the extension, resulting in a broken extension. This problem has since been fixed in https://github.com/open-vsx/publish-extensions/commit/ec76ea73181b0bd185a38777cc6e5cf0c5

[2020-07-18 13:59] 54696d21 opened #86 "PlatformIO not on open-vsx.org although merged in this repo (Error: Cannot resolve dependency: ms-vscode.cpptools)"
Why doesn't Platformio not appear on open-vsx.org although it was merged in #54?

[2020-07-18 17:04] jankeromnes commented on #86
Hi @54696d21, good catch! We missed this problem.

The latest publishing GitHub Action logs say:

[code]

The solution would be to add `ms-vscode.cpptools` to OpenVSX as well (if its license allows it).

[2020-07-18 17:07] jankeromnes commented on #86
Ah, unfortunately, at first glance https://github.com/microsoft/vscode-cpptools/blob/master/Extension/LICENSE.txt doesn't seem to be compatible with OpenVSX.

[2020-07-18 17:36] 54696d21 commented on #86
ok, that's unfortunate. I'm impressed how restrictive that license is.

[2020-07-20 07:12] spoenemann commented on #84
I deleted version `0.26.0`. I cannot delete all versions because the following extensions depend on the extension: `vscjava.vscode-java-test`, `redhat.vscode-quarkus`

[2020-07-20 07:35] jankeromnes opened #87 "[apollographql.vscode-apollo]"
We would like to auto-publish the extension `apollographql.vscode-apollo` from this repository, so we've added this configuration to `extensions.json`:

https://github.com/open-vsx/publish-extensions/blob/dae1cfb57e61fae3677a33ea1e190200510710e8/extensions.json#L62-L69

However, publishing it [currently fails in our GitHub Action](https://github.com/open-vsx/publish-extensions/runs/888299778?check

[2020-07-20 07:37] jankeromnes commented on #87
I don't think I can efficiently troubleshoot this any further, as I don't understand the underlying tools well enough (`lerna`, `ovsx`).

@spoenemann Could you please take a look when you have time?

[2020-07-20 07:39] jankeromnes opened #88 "[ms-vscode.node-debug] Missing 'dist' folder in packaged extension"
As reported by @marcdumais-work in https://open-vsx.org/extension/ms-vscode/node-debug/reviews:

It would be good to figure out how this missing `dist` folder can be added to the published extension, and then delete the broken extensions from https://open-vsx.org

[2020-07-20 07:48] jankeromnes commented on #88
Note: This is how we currently auto-publish this extension:

https://github.com/open-vsx/publish-extensions/blob/dae1cfb57e61fae3677a33ea1e190200510710e8/extensions.json#L554-L559

[2020-07-20 07:51] jankeromnes commented on #84
@spoenemann Thanks! Then I will publish a new, fixed `0.26.0` version, and then we can delete the broken `0.25.1` version, and then I can re-publish a fixed extension for that version too.

[2020-07-20 09:02] jankeromnes commented on #84
Done, a fixed `0.26.0` has been published: https://open-vsx.org/extension/vscjava/vscode-java-debug, and its download size is 2.5MB as expected.

@spoenemann Please delete version `0.25.1` so that I can re-publish it as well.

[2020-07-20 09:13] spoenemann commented on #88
I'd try `yarn prepublish && yarn package`:

https://github.com/microsoft/vscode-node-debug/blob/4b2d2ca0dbe3bec12649a90c40bd0e2c904c0ca0/package.json#L16-L27

[2020-07-20 09:15] spoenemann commented on #84
done.

[2020-07-20 09:18] jankeromnes commented on #88
Thanks! I'll try that.

[2020-07-20 09:26] jankeromnes commented on #88
Oops, chose the word "resolve" instead of "fix", in order not to auto-close this issue yet, but apparently GitHub understands "resolve" as well.

[2020-07-20 09:56] jankeromnes commented on #84
Awesome, thanks, and `0.25.1` should now be fixed as well! 🎉

<img width="375" alt="Screenshot 2020-07-20 at 11 55 31" src="https://user-images.githubusercontent.com/599268/87925066-08c56400-ca80-11ea-8d94-70fd53711385.png">

[2020-07-20 09:56] #84 closed

[2020-07-20 10:02] jankeromnes commented on #88
That seems to have worked: https://open-vsx.org/extension/ms-vscode/node-debug/1.44.5 now has the `dist` folder.

@spoenemann Could you please delete `ms-vscode.node-debug` versions `1.35.3`, `1.38.4`, `1.41.1`, and `1.44.7`? (I.e. everything except `1.44.5`)

Then I'll re-publish these versions too.

[2020-07-20 10:56] spoenemann commented on #88
Done.

[2020-07-20 14:38] marcdumais-work commented on #88
Thanks!

[2020-07-20 15:16] jankeromnes opened #89 "[ms-python.python] Missing "pythonFiles/lib/" directory in packaged extension"
We currently auto-publish https://open-vsx.org/extension/ms-python/python from this repository with the following configuration:

https://github.com/open-vsx/publish-extensions/blob/31c5d426bf6370178cdea7ab65fd560ae9760903/extensions.json#L541-L547

Unfortunately, it seems that the uploaded extension is completely missing the `extension/pythonFiles/lib/` directory.

It would be nice to include thi

[2020-07-20 15:23] jankeromnes commented on #89
It seems that we need to install at least "debugpy" manually.

Maybe this "Local Build" section contains the right bootstrapping step(s) we're currently missing: https://github.com/microsoft/vscode-python/blob/master/CONTRIBUTING.md#local-build

[2020-07-20 15:34] jankeromnes commented on #89
Should be fixed in https://github.com/open-vsx/publish-extensions/commit/7147dbe5917b9f28fc0a90aa3e2947e2039f4602

[2020-07-20 16:58] jankeromnes commented on #89
Failed with:

[code]

Maybe let's just try without the `--implementation py` option (whatever that is).

[2020-07-20 17:03] #88 closed

[2020-07-20 19:20] int19h commented on #89
The point of `--implementation py` is to ensure that the extension uses package wheels that are Python-implementation-agnostic. If not specified, it will use the wheels that match the Python implementation that you are using to run `pip`.

And you need an up-to-date version of `pip` to support `--implementation`. If the package build is using system Python, it's likely that you're using `pip` pack

[2020-07-20 20:22] jankeromnes commented on #89
@int19h Many thanks for providing this explanation!

I'm not very familiar with Python or wheels -- would you happen to know a good sequence of commands that can be used, in our GitHub Actions workflow, just prior to publishing `ms-python.python` to OpenVSX, that would result in the best / cleanest / most recent extension package to be uploaded?

Currently we have this:

https://github.com/open-vs

[2020-07-21 04:19] int19h commented on #89
I'm not too familiar with the packaging myself, but this is how the VSIX gets built for CI:

https://github.com/microsoft/vscode-python/blob/master/.github/workflows/ci.yml#L146-L188

(You can probably simplify it a fair bit by inlining the `...-deps` jobs, and removing caching.)

[2020-07-21 06:39] blackva commented on #81
More than a week passed and no reply. I don't have patince to wait until October, so I tried switching to vim and it turned out to be a better editor for me. [Here](https://github.com/blackva/vscode-marketplace-scrapper) is the code. I changed it a bit and now it goes through 16k~ extansions in total.

[2020-07-21 06:39] #81 closed

[2020-07-21 06:42] jankeromnes commented on #89
Many thanks! I guess the relevant part for us is [how all the various Python dependencies are installed](https://github.com/microsoft/vscode-python/blob/2f8ff9abb88770e83741012edfc2ca16fe05b838/.github/workflows/ci.yml#L37-L53):

[code]

Also, for what it's worth, our [current command-line](https://github.com/open-vsx/publish-extensions/blob/eaa3737b1225cf08771d4cf94c51d54e4c2a0013/extensions.json

[2020-07-21 06:56] jankeromnes commented on #89
"Hopefully" fixes this issue, but let's see how our CI likes it (and whether the uploaded extension actually works).

[2020-07-21 07:56] jankeromnes commented on #87
Note: `npm run package-extension` does not fix this problem.

[2020-07-21 08:28] jankeromnes commented on #89
Seems to have worked! 🎉 ([source](https://github.com/open-vsx/publish-extensions/runs/893116704?check_suite_focus=true))

Also, the newly published `ms-python.python@2020.6.1` [on OpenVSX](https://open-vsx.org/extension/ms-python/python/2020.6.1) now seems to have the previously missing `extension/pythonFiles/lib/` directory, which is what we wanted to resolve this issue.

However, when comparing

[2020-07-21 08:30] jankeromnes commented on #89
Meanwhile, @spoenemann or @jbicker, could you please delete every OpenVSX version of https://open-vsx.org/extension/ms-python/python except `2020.6.1`? This will allow me to re-publish fixed versions.

[2020-07-21 09:07] spoenemann commented on #89
Done.

[2020-07-21 09:08] spoenemann commented on #87
I'll have a look later this week.

[2020-07-21 16:58] int19h commented on #89
`old_ptvsd` missing will break 2020.6 if somebody tries to opt out of the new debugger (it was the old one, provided as a fallback). It's gone entirely in 2020.7, which is why the build script I linked to doesn't try to do anything about it.

But, given that 2020.7 is the most recent stable version of the extension, it's probably not worth spending cycles trying to fully fix your build of 2020.6 a

[2020-07-22 06:45] heylix opened #90 "Puppet extension"
You can install the [puppet.puppet-vscode extension](https://marketplace.visualstudio.com/items?itemName=puppet.puppet-vscode) by downloading the .vsix from the Microsoft VSCode marketplace. It throws a few warnings but still works.

They're also tracking this issue over there: https://github.com/puppetlabs/puppet-vscode/issues/690

This was previously [jpogran.puppet-vscode](https://marketplace.v

[2020-07-22 06:49] spoenemann commented on #90
See the VS Code Marketplace [Terms of Use](https://aka.ms/vsmarketplace-ToU):

[2020-07-22 06:50] spoenemann commented on #90
For this reason, we always publish extensions from their GitHub source instead of using the .vsix from the Marketplace.

[2020-07-22 17:36] heylix commented on #90
Yes, I know, I just wanted to say that it works in vscodium.

[2020-07-23 06:47] jankeromnes commented on #90
... but what is the issue?

If this is a request to publish the Puppet extension to https://open-vsx.org, I'm happy to take a look.

[2020-07-23 06:52] #89 closed

[2020-07-23 06:52] #90 closed

[2020-07-23 06:53] jankeromnes commented on #90
Puppet extension should now get published to https://open-vsx.org during the next CI run (usually at 03:03 UTC).

Will post back here once we know if it worked or not.

[2020-07-23 07:20] jankeromnes commented on #89
All published Python extensions should now work properly, and the publish config here is once again pointing to the latest available release:

https://github.com/open-vsx/publish-extensions/blob/1542b6ec2a98eb5fc153995866888744b5557b12/extensions.json#L540-L546

It should get published automatically tonight at 03:03 UTC.

[2020-07-23 08:25] acim opened #91 "Outdated extensions"
eslint in https://open-vsx.org/vscode/gallery is version 2.1.3 while the latest tag in https://github.com/microsoft/vscode-eslint/tags i 2.1.9.

Same is for the following extensions:

ms-azuretools.vscode-docker 1.0.0 -> 1.4.1
redhat.vscode-yaml 0.8.0 -> 0.9.1

[2020-07-23 11:24] jankeromnes commented on #91
Good catch! Many thanks @acim for reporting these problems.

The namespace `dbaeumer` was claimed by @dbaeumer in https://github.com/eclipse/open-vsx.org/issues/10.

@dbaeumer could you please publish the latest version of `dbaeumer.vscode-eslint` to https://open-vsx.org?*

---

The namespace `ms-azuretools` was claimed by @fiveisprime in https://github.com/eclipse/open-vsx.org/issues/5.

@fiveisp

[2020-07-23 12:53] fbricon commented on #91
I manually pushed https://open-vsx.org/extension/redhat/vscode-yaml/0.9.1 (cc @JPinkney)

[2020-07-23 15:14] jankeromnes commented on #91
Awesome, many thanks @fbricon! 💯

[2020-07-23 20:39] mattburgess commented on #49
I am most definitely not a lawyer, but from that same blog post linked to above:

That makes the strong wording of the rest of that email response you got a little odd to me. Surely the Eclipse Marketplace and the OpenVSX Registry are providing a very similar service and therefore either both or none should be permitted to distribute GPL licensed plugins?

Also from that blog post:

But FSF's posi

[2020-07-27 07:17] spoenemann commented on #87
We might need to add the argument `--baseContentUrl https://raw.githubusercontent.com/apollographql/apollo-tooling/master/packages/vscode-apollo` to `ovsx`:

https://github.com/apollographql/apollo-tooling/blob/cf69252f8573196826a1074fb6236bd8c53f0c3d/packages/vscode-apollo/package.json#L25

@jankeromnes this is not supported by the publishing script yet, right?

[2020-08-03 07:31] jankeromnes commented on #91
Ping @dbaeumer @fiveisprime

[2020-08-03 07:34] jankeromnes commented on #87
Many thanks for helping to fix this!

Note: https://github.com/open-vsx/publish-extensions/commit/05d6098f2cbae7ae09199436d449c209542bd1fc failed with:

[code]

I think it's because the `prepublish` step is run in `/tmp/repository`, while your `../..` makes it look like this should run in `/tmp/repository/packages/vscode-apollo`.

I'll add a `cd packages/vscode-apollo &&` in front of the command t

[2020-08-03 07:39] jankeromnes commented on #87
Correct, `baseContentUrl` is not yet supported by this publishing script either. I almost added support for it recently, but then I opted for just hot-patching the ambiguous URLs with `sed` instead (removing the need for `baseContentUrl`):

https://github.com/open-vsx/publish-extensions/commit/9992516a338d9310e2ecd066c5c42862e3f9531e

[2020-08-04 10:14] jankeromnes commented on #87
@spoenemann Ok, `cd packages/vscode-apollo && npm --prefix ../.. install && npm run _internal:prepare-extension` now works in the CI, however `ovsx publish` still fails with the original error:

[code]

[2020-08-04 11:23] spoenemann commented on #87
Maybe we should support https://github.com/apollographql/apollo-tooling/issues/2003 instead.

[2020-08-05 21:55] bryphe opened #106 "[matklad.rust-analyzer] 'releaseTag` is not properly populated"
Hi, thanks for the great work on open-vsx.org!

The `rust-analyzer` extension has a `releaseTag` property in the `package.json`:
https://github.com/rust-analyzer/rust-analyzer/blob/5ebf92cd0ed4be97fe0ca5bffefbe292db1ec4cf/editors/code/package.json#L9

During the build - at least the one published on the Visual Studio marketplace - the `releaseTag` actually has a value populated, ie: `"releaseTag":

[2020-08-06 06:33] spoenemann commented on #106
Maybe it would be better to ask the maintainers of this extension whether they would take over publishing to Open VSX. @bryphe would you create an issue at their repository and ask?

Anyway, once we have a correct bundle published, we should delete the malfunctioning versions.

[2020-08-06 07:47] jankeromnes commented on #106
Good catch, many thanks @bryphe!

It would indeed be much better if this extension can be published to OpenVSX by the original authors (they only need to run `npx ovsx publish`, without installing any dependency) instead of by us (generic OpenVSX bot user) in this rather basic publishing CI repo.

See also a previous publish issue we faced and had to work around: https://github.com/open-vsx/publis

[2020-08-07 01:00] bryphe commented on #106
@jankeromnes @spoenemann - thanks for looking at this!

It looks like there was an issue already on the repo that was closed: https://github.com/rust-analyzer/rust-analyzer/issues/4936

[2020-08-07 07:37] jankeromnes commented on #106
Good point @bryphe, the request to publish to OpenVSX was indeed closed, because we ended up publishing the extension from our basic publishing CI here (instead of from the official extension repository).

However, I would argue that any problem revealed in our CI's automated publishing reveals something that is particular to a specific extension (because the other extensions generally work withou

[2020-08-07 10:17] jankeromnes commented on #91
Ok, given that `ms-azuretools.vscode-docker` is now badly outdated [on OpenVSX](https://open-vsx.org/extension/ms-azuretools/vscode-docker) (it's `1.0.0` instead of `1.4.1`), and that it's even [likely broken](https://github.com/VSCodium/vscodium/issues/337#issuecomment-646992291), we probably want to fix this as soon as possible.

In the interest of time, we will temporarily resume publishing `ms

[2020-08-07 12:37] jankeromnes commented on #91
@spoenemann Now that a fixed `ms-azuretools.vscode-docker` version `1.4.1` has been published, could you please delete the likely broken version `1.0.0`?

[2020-08-10 06:19] spoenemann commented on #91
Done.

[2020-08-11 08:22] jankeromnes opened #111 "[justusadam.language-haskell] ##[error]node_modules/@types/node/events.d.ts(21,46): error TS1005: '=' expected."
Publishing failed with:

[code]

[2020-08-11 08:24] jankeromnes opened #112 "[nwolverson.ide-purescript] sh: 1: spago: not found"
Auto-publishing failed with:

[code]

[2020-08-11 08:33] jankeromnes opened #113 "[hashicorp.terraform] Downloaded VS Code 1.47.3 into .vscode-test/vscode-1.47.3, Exit code: null, Done, Failed, Failed to run tests"
Auto-publishing failed with:

[code]

[2020-08-11 12:40] jankeromnes commented on #113
@spoenemann any idea what could have gone wrong here, or what we could try as a fix?

[2020-08-11 12:41] jankeromnes commented on #111
@spoenemann I'm not sure what to make of this error. Would you have any ideas?

[2020-08-11 14:25] spoenemann commented on #113
When I try to build it on Gitpod I get

[code]

The error comes from the [vscode-test](https://github.com/microsoft/vscode-test) package. We could either open an issue there and ask for support, or skip the tests for publishing.

How to skip the tests:
 * `echo "" > src/test/runTest.ts` before publishing
 * Check out https://github.com/hashicorp/vscode-terraform/commit/c2172872a74d069b52cf4e2912c5

[2020-08-11 14:29] spoenemann commented on #113
Given that vscode-test is an official package for testing vscode extensions, this situation could easily occur for other extensions, too. One thing we could try is to install `libx11-dev` in the GitHub action VM as mentioned in the [vscode docs](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#prerequisites).

[2020-08-11 14:56] spoenemann commented on #113
That doesn't help: https://github.com/spoenemann/vscode-extension-test-build/runs/971743575

[2020-08-12 06:55] spoenemann commented on #111
Try `npm i --save-dev @types/node@10`

[2020-08-12 07:14] jankeromnes commented on #112
Now failed with:

[code]

It seems that somehow, the version of `spago` we got was older than https://github.com/purescript/spago/pull/175 which renamed `spago make-module` to `spago bundle-module` in April 2019.

[2020-08-12 07:15] jankeromnes commented on #112
Update: Probably because https://www.npmjs.com/package/purescript-spago has been deprecated in favor of https://www.npmjs.com/package/spago.

[2020-08-12 07:19] #112 closed

[2020-08-12 17:01] jankeromnes commented on #111
Fixed: https://github.com/open-vsx/publish-extensions/commit/a95c8681d506b26c6367cfb1794dec12f9016b6f

[2020-08-12 17:01] #111 closed

[2020-08-13 08:13] GitMensch opened #117 "Please upload the official language packs"
The language extensions found in https://github.com/Microsoft/vscode-loc are specific to a vscode release and therefore often updated. They are under MIT so publishing them in the registry is no issue license-wise.

Can you please contact the vscode-loc team and discuss the easiest way of integrating the 16 language packs (likely increasing in number) or would it be more reasonable to publish them

[2020-08-13 20:30] GitMensch opened #118 "[ms-vscode.hexeditor]: please publish that"
I've seen multiple questions on this as it is highlighted in the user-visible changes of "VS Code" and when checking now seen that it is MIT-licensed.

Please add the CI for https://github.com/microsoft/vscode-hexeditor - thank you!

[2020-08-14 06:28] spoenemann commented on #117
Thanks for the request. @janbaltus @danyeh @weeteckt are you interested in publishing to the Open VSX Registry in addition to the VS Code Marketplace? The process is very similar to `vsce`, you'll find instructions here: https://github.com/eclipse/openvsx/wiki/Publishing-Extensions

[2020-08-14 06:30] spoenemann commented on #118
Thanks for the request. @lramos15 are you interested in publishing to the Open VSX Registry in addition to the VS Code Marketplace? The process is very similar to vsce, you'll find instructions here: https://github.com/eclipse/openvsx/wiki/Publishing-Extensions

[2020-08-17 09:05] #113 closed

[2020-08-17 09:10] #106 closed

[2020-08-17 16:51] noah1510 commented on #86
That extention recycled parts from visual studio, so it inherited its license.
It seems like the developers/maintainers can't do anything about that see [here](https://github.com/Microsoft/vscode-cpptools/issues/21#issuecomment-248349017).

I opened [this](https://github.com/platformio/platformio-vscode-ide/issues/1940) issue about changing the language server to clangd.
According to [this](https:

[2020-08-19 12:37] akosyakov opened #124 "vscjava.vscode-java-dependency does not have jars included"
[code]

[2020-08-20 09:08] jankeromnes commented on #37
So, `npm install preact` also didn't work. Publishing still fails with:

[code]

[2020-08-20 09:15] jankeromnes commented on #37
Ah, rats, the package is actually called `preact-cli`, not `preact`. 🤦

[2020-08-20 09:28] jankeromnes commented on #124
Notes: We used to auto-publish `vscjava.vscode-java-dependency` from this repository, but we've removed it when Microsoft claimed the `vscjava` namespace: https://github.com/open-vsx/publish-extensions/commit/784a105cbad5c15fa41b797cb6a30c48bf1550e4

However, no updated version of this extension has been published by Microsoft:
- https://open-vsx.org/extension/vscjava/vscode-java-dependency is sti

[2020-08-20 09:33] jankeromnes commented on #124
Actually they seem to publish official releases on GitHub: https://github.com/microsoft/vscode-java-dependency/releases

So no need to reverse-engineer the packaging steps. 🎉

[2020-08-20 09:34] #124 closed

[2020-08-22 10:57] jankeromnes opened #129 "[matklad.rust-analyzer] Cannot activate rust-analyzer: Object.fromEntries is not a function"
Originally reported here: https://community.gitpod.io/t/rust-analyzer-extension-problem/1703

[2020-08-23 21:01] muhammadsammy commented on #83
Hello @jankeromnes!
[This extension](https://open-vsx.org/extension/muhammad-sammy/csharp) can be used instead.
It's a free version of the official C# extension and the ionide extension works fine with it (except the debugger as it's proprietary).

[2020-08-24 14:45] carterisonline commented on #129
I'm also receiving an error relating to this:

(occurs when attempting to install for the _current project_)

(occurs when attempting to install for the _user_)

Maybe this is possibly caused by gitlab's included plugins' configuration? I'm slightly familar with Javascript, so I'll try to scope out the issue for now.

[2020-08-27 10:15] #37 closed

[2020-08-27 12:38] jankeromnes commented on #129
Ah, I think this problem occurs because Gitpod's IDE (Theia) is still running Node.js v10.

I think Theia upstream has been upgraded to Node.js v12 LTS, and Gitpod will soon upgrade to the latest Theia version, which should resolve this problem. (Note: Gitpod Self-Hosted should already no longer have this bug.)

[2020-08-28 21:33] jankeromnes commented on #91
We've now resumed auto-publishing of the other two extensions. Everything should be up-to-date again pretty soon.

[2020-08-28 21:33] #91 closed

[2020-09-04 15:33] jankeromnes commented on #83
This extension was removed from this repository in https://github.com/open-vsx/publish-extensions/commit/7ec4fe6327c382c983bdf37e825f5a4930ac55ec because the namespace `Ionide` was claimed in https://github.com/eclipse/open-vsx.org/issues/134.

[2020-09-04 15:33] #83 closed

[2020-09-09 13:17] GitMensch commented on #117
Ping @spoenemann @janbaltus @danyeh @weeteckt - I'd really like to see those uploaded, ideally without an extra CI process here.
But if there's no other way I'd also appreciate an external CI here...

[2020-09-09 14:10] spoenemann commented on #117
I think we can set up publishing here, and remove it again in case the maintainers would like to continue publishing.

@GitMensch would you like to create a PR? We need one entry in `extensions.json` for each language pack (see [README](https://github.com/open-vsx/publish-extensions#publish-extensions-to-open-vsx)), each with `id`, `repository` and  `location`.

[2020-09-09 18:42] danyeh commented on #117
@spoenemann , please establish your own publish process. Feel free to take translation from vscode-loc.

[2020-09-10 05:37] jankeromnes commented on #117
Hi @danyeh! OpenVSX already has its own publishing process, based on `vsce`:

- Either publish an extension yourself with a single command, `npx ovsx publish` (no need to install any dependency)
- Or add the extension to this very repository, our auto-publishing CI, and edit `extensions.json` to add the extension there (see README for the format, or use `node add-extension --download=VSIX_URL)

[2020-09-10 08:05] jankeromnes commented on #15
Should get fixed by https://github.com/open-vsx/publish-extensions/pull/152.

[2020-09-10 08:05] #15 closed

[2020-09-15 22:05] hackel commented on #34
As far as I know, the `prepublish` command runs *after* `npm install`.  Unfortunately, this package has `"preinstall": "rimraf node_modules"`, so it tries to run that before rimraf is installed and fails.  Seeing as the extension hasn't been updated in 2.5 years, I don't think this is fixable unless the publish-extensions script adds a prepublish option to extensions.json.  I also think we would n

[2020-09-17 13:49] GitMensch commented on #117
I'll work on this now.

[2020-09-18 06:31] spoenemann commented on #117
The overall build failure indicates that there are still extensions for which the automated publishing does not work for some reason. This does not affect the other extensions.

[2020-09-18 06:31] #117 closed

[2020-09-24 06:55] jpaczia opened #163 "Missing out/ directory"
Currently the [LaTex-Workshop](https://github.com/James-Yu/LaTeX-Workshop) extension is not working in VSCodium.
According to [this](https://github.com/James-Yu/LaTeX-Workshop/issues/2160#issuecomment-652137338) comment the `out/` of OpenVSX directory is missing.
The issue has already been reported to the VSCodium team [here](https://github.com/VSCodium/vscodium/issues/486#issuecomment-697735141)

[2020-09-24 07:07] spoenemann commented on #163
Let's see if the change fixes the issue (extensions are deployed once per day). If yes, I can remove the old broken versions.

[2020-09-25 07:14] spoenemann commented on #163
@jpaczia could you check the latest version 8.13.2?
https://open-vsx.org/extension/James-Yu/latex-workshop

[2020-09-25 07:42] jpaczia commented on #163
Thanks, it's working again :+1:

[2020-09-25 08:04] #72 closed

[2020-09-25 08:04] #49 closed

[2020-09-25 08:04] #118 closed

[2020-09-25 08:07] jankeromnes commented on #118
@GitMensch Good news! The Eclipse board may soon allow all "standard" open-source licensed extensions onto OpenVSX. While no official final decision has been announced yet, we consider this to be very promising, and have decided to accept `ms-vscode.hexeditor` now. Added in d53fee8b05fbd05b884ae05567deeab98b0e286f. Many thanks!

[2020-09-25 08:08] jankeromnes commented on #51
@hallvard Good news! The Eclipse board may soon allow all "standard" open-source licensed extensions onto OpenVSX. While no official final decision has been announced yet, we consider this to be very promising, and have decided to accept the draw.io extension now. Added in f4a8b067a57e7a716c27403bfc1e184b28c3848d. Many thanks for your patience!

[2020-09-25 08:08] #51 closed

[2020-09-25 09:08] spoenemann commented on #163
I deleted the broken versions.

[2020-09-25 09:44] hallvard commented on #51
Nice! Does this mean that the custom editor extension is implemented so this extension actually works? It doesn't seem so from the corresponding issue #6636.

[2020-09-25 09:54] spoenemann commented on #51
That's a Theia issue. This repository is only about publishing extensions.

[2020-09-25 09:56] spoenemann commented on #51
@jankeromnes looking at the [package.json](https://github.com/hediet/vscode-drawio/blob/6376917d1c7702a7cf53b33fa3408a27219c786b/package.json#L221) it seems you need to add a `yarn pre-build` prepublish command.

Should we also add a section to our README.md about checking prepublish requirements of extensions?

[2020-09-25 10:13] jankeromnes commented on #51
Aha, thanks for catching that!

We could. Do you have a general process that you follow to check these? (My process is looking at "scripts" in package.json, and seeing if there is something called "compile" or "build" or "package" that isn't covered by "vscode:prepublish", but maybe that's not the best way.)

[2020-09-28 05:44] spoenemann commented on #51
:+1:

[2020-09-29 09:46] jankeromnes commented on #51
Publishing worked! 🎉 https://open-vsx.org/extension/hediet/vscode-drawio

But the version string is `999.0.0-alpha`.

[2020-09-29 09:47] jankeromnes commented on #49
Publishing worked! 🎉 https://open-vsx.org/extension/exiasr/hadolint

[2020-09-29 09:48] jankeromnes commented on #118
Update: Publishing worked! 🎉 https://open-vsx.org/extension/ms-vscode/hexeditor

[2020-09-29 09:49] jankeromnes commented on #72
Worked! 🎉 https://open-vsx.org/extension/kortina/vscode-markdown-notes

[2020-09-30 07:10] spoenemann commented on #51
Looks like there is a missing build step, but I can't see that from the package.json.

[2020-10-06 12:18] shahar-h opened #185 "ms-vscode.node-debug2 is missing"
[ms-vscode.node-debug2](https://github.com/microsoft/vscode-node-debug2) extension is missing although it's published to [openvsx](https://open-vsx.org/extension/ms-vscode/node-debug2).
It was there before: https://github.com/open-vsx/publish-extensions/commit/d9aed2d25d0da16aafd6d6e56402dfe0c358c66b.
Is there any reason it was removed?
There is a new patch(1.42.5) that I would like to use.

[2020-10-06 12:50] spoenemann commented on #185
We removed it because the `ms-vscode` namespace has been claimed. But since the maintainers seem not to be interested in publishing to Open VSX, I think we can put the extension back into our list.

@shahar-h would you make a PR against extensions.json?

[2020-10-06 12:59] shahar-h commented on #185
sure

[2020-10-06 13:29] shahar-h commented on #185
Create a PR: #186

[2020-10-13 23:44] yunuscukran commented on #86
From my understanding, the [existence](https://clang.llvm.org/docs/JSONCompilationDatabase.html) of a `compile_commands.json` at the top is enough for [lvm-vs-code-extensions.vscode-clangd](https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd) to work, and PlatformIO can already [generate](https://docs.platformio.org/en/latest/integration/compile_commands.html) a `compile_commands.

[2020-10-14 09:32] apupier opened #191 "Publish Spring Boot Extension Pack"
currently, the Spring Boot Extension pack is not provided https://github.com/spring-projects/sts4/issues/548

it requires these other extensions:

- [X] [Pivotal.vscode-spring-boot](https://open-vsx.org/extension/Pivotal/vscode-spring-boot)
- [X] [Pivotal.vscode-concourse](https://open-vsx.org/extension/Pivotal/vscode-concourse)
- [X] [Pivotal.vscode-manifest-yaml](https://open-vsx.org/extension/P

[2020-10-14 17:50] noah1510 commented on #86
I have not tested it with the `compile_commands.json` produced by PIO but it works without any problems with meson, which also just creates a `compile_commands.json` for clangd to use.
It should work just fine assuming the produced file has the correct universal format, which it should have.

[2020-10-15 17:27] yunuscukran commented on #86
I have tested it with `compile_commands.json`. It **almost** works fine. The libraries that are externally downloaded as PlatformIO packages ( so no .h files in the include dir, only .o files in the build directories) can't be parsed, while the Microsoft language server was able to do this.

If this problem is solved, it is my understanding that PlatformIO is very close to be `open-vsx` compatible

[2020-10-18 09:44] RussellAult commented on #86
Has anyone checked the license on ms-vscode.cpptools recently? The link above 404s now, and the only license I can find there was https://github.com/microsoft/vscode-cpptools/blob/master/LICENSE.md , which is MIT...

[2020-10-19 12:30] spoenemann commented on #86
@RussellAult the runtime license has moved here:

[2020-10-19 18:47] RussellAult commented on #86
Right, but it sounds like according to microsoft/vscode-cpptools#5857 that the restrictive license is what applies to the Microsoft Marketplace binaries; the source code itself is under MIT.

[2020-10-20 06:30] spoenemann commented on #86
Yes, you can fork the MIT licensed code and publish it to a different namespace if you want. But I don't know whether it's possible to create a version of that extension that does not depend on any Microsoft proprietary stuff. The extension downloads lots of content listed in `"runtimeDependencies"`:
https://github.com/microsoft/vscode-cpptools/blob/e41b32c5cd738454299b822d8132b461d1932321/Extensi

[2020-10-20 19:49] RussellAult commented on #86
...at least one of which ("C/C++ language components") I can't even find the source for. Right, never mind. Sorry everyone!

[2020-10-21 20:00] geekley opened #195 "[streetsidesoftware.code-spell-checker] publish all add-on language dictionaries"
### streetsidesoftware.code-spell-checker-*
- publish each language and specialized dictionary add-on listed in the [README][1]
- if possible/necessary, auto-update URLs in the [README][1] to point to open-vsx.org instead of marketplace.visualstudio.com? @streetsidesoftware

[1]: https://github.com/streetsidesoftware/vscode-spell-checker/blob/master/packages/client/README.md#add-on-language-dictio

[2020-10-22 06:08] spoenemann commented on #195
Ideally the original maintainers would publish the extensions themselves. Could you create an issue at `vscode-spell-checker`? In case they are not willing to do it, we can add the extensions to the list here.

[2020-10-22 09:01] akosyakov opened #196 "material theme extension is missing build folder"
see https://github.com/gitpod-io/gitpod/issues/2040

[2020-10-22 16:58] geekley opened #197 "[ms-vscode.mono-debug] publish Mono Debugger Extension from Microsoft"
https://marketplace.visualstudio.com/items?itemName=ms-vscode.mono-debug
It's by Microsoft, but the extension [and all its dependencies](https://github.com/microsoft/vscode-mono-debug/blob/master/ThirdPartyNotices.txt) have MIT license, so it should be fine, right?
Doing a quick [search](https://github.com/microsoft/vscode-mono-debug/search?q=https&type=code) for `http` and `https` in the repo cod

[2020-10-29 14:52] Surendrajat opened #200 "[golang.go] latest version is not being published"
Even though the given branch has version 0.18.0, it's not updating.

[2020-10-31 07:56] shahar-h commented on #185
Resolved with #186

[2020-10-31 07:56] #185 closed

[2020-11-01 15:57] ivankravets commented on #86
Hi all,

This is Ivan, the @PlatformIO founder. Microsoft C/C++ extension is licensed under MIT. I still trust it was a "typo" by Microsoft management. See my comment here https://github.com/microsoft/vscode-cpptools/issues/6388#issuecomment-720109512

We did know that the MIT license was the "screen" to hell. If that is true, we will stop using that extension.

[2020-11-05 10:56] spoenemann commented on #86
Hi @ivankravets, with https://github.com/eclipse/open-vsx.org/issues/197 I assume you are going to work on publishing yourself and we can remove the platformio entry from this auto-publishing list?

[2020-11-05 12:47] ivankravets commented on #86
Hi @spoenemann,

Thanks for approving our account. Yes, we would like to publish our extension to Open VSX but there is a dependency on C/C++ extension. We work on the soltuion for this issue.

Sorry, we didn't know that Microsoft C/C++ extension is not MIT licensed as they claim on Github. You can read more at https://github.com/microsoft/vscode-cpptools/issues/6388#issuecomment-721386780

We pos

[2020-11-06 08:25] spoenemann commented on #86
Ok, removed the entry here: https://github.com/open-vsx/publish-extensions/commit/4bc99a2b8747a7bfa898aa382e0929a2ef014ffd

[2020-11-06 08:25] #86 closed

[2020-11-08 16:02] andhet commented on #200
Golang.go was updated on 2020-11-02 to 0.18.1, which was uploaded to open-vsx.org 3 days ago, so I assume that this problem is solved and ticket can be closed.

[2020-11-08 16:29] Surendrajat commented on #200
I can see it's been updated but if you see version history, it's not being updated continuously. Maybe there is an issue that prevents certain versions from being uploaded.

[2020-11-08 18:56] andhet commented on #200
The configuration for publishing is not based on a fixed version, but on the "latest" branch. (Seems to be related to https://github.com/golang/vscode-go/issues/222)
Version 0.18.0 was released on 23rd October. When I look at the log output from the publishing extensions action defined here on 28rd October the latest branch was still pointing to the former 0.17.2 release. Hence I assume, that the

[2020-11-09 02:11] Surendrajat commented on #200
@andhet You are right about manual updating. There is no such feature. However, as you can see vscode-go has this commit on 24th Oct golang/vscode-go@d27880e35ef59ce113c96ebccf37aa41dca471ea but the CI logs for 25th, 26th and so on.. don't seem to be picking it.

[2020-11-09 21:09] andhet commented on #200
Yes, you're of course right. And I don't understand it. I have looked to the publish-extensions.js script here and there is no magic happening; just a clone and than a checkout to switch to the latest branch. No, errors were logged during these operations. It seems for me that the version after that clone was still 0.17.2, which isn't possible given the commit history of the latest branch of golan

[2020-11-13 20:30] #195 closed

[2020-11-17 10:09] GitMensch opened #221 "What happens to this service and its published extensions with the move to Eclipse?"
Given https://blogs.eclipse.org/post/brian-king/open-vsx-registry-under-new-management I am curious what will happen here. The license is no issue, as only OSI-approved repos are added. I _guess_ that some of the entries for the CI may not have an appropriate license specifier in, so it may be needed to patch package.json before the build.
But the part that I wonder most: extension publishers need

[2020-11-18 14:45] spoenemann commented on #221
Details on this matter are still under discussion. I'll get back when we have a definite answer.

[2020-11-19 03:36] vinliao opened #226 "[Suggestion] Faster CI by defaulting to yarn for everything"
Hello people,

From what I see, the daily CI needs 30+ minutes to finish building and publishing. I haven't dive into the code yet, but maybe defaulting to `yarn` for everything might speed things up.

Why? Because yarn caches the package so it doesn't have to re-download packages that it has previously downloaded.

And for the package that has package lock from npm, I think it can be removed and

[2020-11-19 07:12] spoenemann commented on #226
If an extension has a `package-lock.json`, we need to respect it, otherwise we risk breaking the extension.

I don't think the long CI running time is really a problem: it runs only once a day anyway.

[2020-11-19 09:43] vinliao commented on #226
Ah alright. Thanks for responding.

[2020-11-19 09:43] #226 closed

[2020-11-19 16:44] spoenemann commented on #221
We will ensure conformance with the requirements of the Eclipse Foundation by

 * requiring all contributions to this repository to have an open source license (see [README](https://github.com/open-vsx/publish-extensions#when-to-add-an-extension)),
 * signing the Publisher Agreement with the @open-vsx service account,
 * requiring all maintainers (currently @jankeromnes and me, but that will becom

[2020-11-19 18:55] GitMensch commented on #221
That's very good news, that you. I suggest to keep this issue open until January and pin it.

[2020-11-20 16:49] bryphe opened #228 "[erlang-ls/erlang-ls]: Erlang extension is missing compiled language server"
The [erlang-ls extension](https://open-vsx.org/extension/erlang-ls/erlang-ls) is missing the compiled erlang language server.

When running it, there is an output error:
[code]

It looks like the steps here: https://github.com/open-vsx/publish-extensions/blob/3a119cb944a2e8c2d45127233be70bce7420b3b3/extensions.json#L361

aren't including the build steps necessary to bring in the language server:
h

[2020-11-20 17:04] jankeromnes commented on #228
Hi @bryphe, good catch, many thanks! 🙏

Please note that https://github.com/open-vsx/publish-extensions/pull/217 is already adding `npm run compile` as an extra `"prepublish"` step for this extension, which should hopefully fix this problem.

After it's merged, we should remove the broken extension from OpenVSX, so that a fixed binary can be re-uploaded.

[2020-11-20 18:19] bryphe commented on #228
Oh, that's great, that's awesome that it's already being addressed - thanks @jankeromnes !

[2020-11-23 08:10] jankeromnes commented on #228
The fix has been merged (thanks again @chintan-mishra!).

@spoenemann could you please delete https://open-vsx.org/extension/erlang-ls/erlang-ls so that it can be re-published? (`0.0.15` is the only published version, but it's broken.)

[2020-11-23 10:56] spoenemann commented on #228
Done.

[2020-11-24 09:52] jankeromnes commented on #228
Awesome, thanks @spoenemann!

The extension has since been re-published: https://open-vsx.org/extension/erlang-ls/erlang-ls

@bryphe / @chintan-mishra could you please double-check that it works as expected now? 🙏

[2020-11-24 11:25] chintan-mishra commented on #228
The extension loads the Erlang Language Server(LS) nicely either by installing from VSCodium marketplace or downloading the `*.vsix` from `OpenVSX` and installing it manually.

I have yet to do a complete testing but I believe everything should work just fine.

**Note**: This is only applicable to those who had earlier installed the broken plugin.
**TL;DR**: Delete cached extensions
You can safely

[2020-11-24 16:51] bryphe commented on #228
I tried the latest extension in Onivim, and can confirm it works now with the update. Thanks @chintan-mishra @jankeromnes @spoenemann !

[2020-11-24 16:51] #228 closed

[2020-11-25 20:44] andhet commented on #200
Just a quick info here. 0.19.0 was released 2 hours ago and is already available on the Visual Studio marketplace. Latest branch is currently still pointing to 0.18.1.

[2020-11-26 03:33] Surendrajat commented on #200
Yeah. Seems like they are delaying the update commit so let's wait and see. Usually, it's very little difference. I wonder if they've forgotten about this branch :rofl:

[2020-11-26 08:23] jankeromnes commented on #200
Hi @Surendrajat and @andhet,

That's why it's much better when the extension's owners/maintainers publish to OpenVSX directly. (It's as simple as setting up a [OVSX_PAT](https://open-vsx.org/user-settings/tokens) token and running `npx ovsx publish`).

But since this wasn't set up yet for `golang.go`, we took over the publishing in the interim, using this repository. `golang.go` publishing is curr

[2020-11-26 08:31] jankeromnes commented on #200
If the `latest` branch is no longer maintained, we could also amend the configuration like so, in order to re-publish the latest official `.vsix` release directly:

[code]

[2020-11-26 16:01] andhet commented on #200
Hi jankeromnes
Yes, that would be probably the preferred way, but have a look to the issue [Publish extension on open-vsx.org](https://github.com/golang/vscode-go/issues/222). The latest branch was their solution for publishing to open-vsx. I think that they still support their latest branch, but maybe forget regularly about it.
I've found their release job/action https://github.com/golang/vscode-

[2020-11-26 16:18] andhet commented on #200
@Surendrajat
The github repo is just a mirror repo. The canonical repo is "https://go.googlesource.com/vscode-go/".
So I have a wild guess about your observation:

This commit was done and pushed to the canonical repository, but wasn't pushed to the github mirror. Hence the release was never published to open-vsx. Ok, might be a very wild guess, but the best I currently have.
Anyhow. jankeromnes i

[2020-11-26 16:47] Surendrajat commented on #200
@andhet It might be but I suspect they have some sort of continuous mirror service in place for all of the repos. Anyways, they still haven't updated this yet: https://go.googlesource.com/vscode-go/+log/refs/heads/latest

Agree with @jankeromnes but I think we should open an issue after open-vsx's migration to eclipse and all, otherwise it will again stop updating.

[2020-11-26 18:58] andhet commented on #200
@Surendrajat
You are probably right. But maybe, (very small maybe) there is just a TODO, saying "support automatic mirroring of latest branch". Ok, I know. Little bit absurd... But hey. I've already seen code like
`public static final int TEN = 100`.

Yeah, let's wait for the migration. :)

[2020-11-27 10:37] jankeromnes commented on #200
I'm not sure the migration would have an impact on an OpenVSX publishing script, but I agree that it's probably safer to wait for after the migration.

Meanwhile, I've updated the configuration as suggested in https://github.com/open-vsx/publish-extensions/issues/200#issuecomment-734152749 to at least auto-publish `0.19.0`: https://github.com/open-vsx/publish-extensions/pull/234/commits/25d092de06

[2020-11-28 21:39] hyperstown opened #236 ""Select Python interpreter" doesn't show up in status bar. Manjaro KDE"
### Environment data
VS Code version: 1.49 - 1.51.1
Extension version: v2020.10.332292344 - v2020.9.111407
OS and version: Linux x64 5.8.18-1-MANJARO
Python version: 3.8.6
Type of virtual environment used: venv

## Expected behaviour

![image](https://user-images.githubusercontent.com/64496017/100526477-87b67000-31c9-11eb-8663-0a479fbea362.png)

## Actual behaviour

![image](https://user-images.gi

[2020-11-29 09:00] andhet commented on #200
@jankeromnes
Thank you. :)

[2020-12-07 11:04] dr0i opened #242 "Maven extension missing"
With https://github.com/open-vsx/publish-extensions/commit/784a105cbad5c15fa41b797cb6a30c48bf1550e4 the `maven` extension seems to be gone. Although it seems to still exist at https://open-vsx.org/extension/vscjava/vscode-maven . But if you click `changes` there the resource cannot be fetched.

So, this extension still available in `codium` in the openvsix-marketplace, but it logs in output->Langu

[2020-12-07 11:22] spoenemann commented on #242
It seems the extension has not been built correctly. We should fix that and then remove the old versions.

[2021-01-06 11:54] apupier commented on #191
Spring boot dashboard has been published: https://open-vsx.org/extension/vscjava/vscode-spring-boot-dashboard

Spring boot extension pack too: https://open-vsx.org/extension/Pivotal/vscode-boot-dev-pack

[2021-01-06 11:54] #191 closed

[2021-01-17 16:02] hediet commented on #51
Author of the Draw.io extension here. I setup a CI step so that whenever the extension is published to the VS Code marketplace, it is also published to open-vsx!
So no external auto publish should be required anymore.

I setup CI to extract the version from the changelog.
The version in package.json is 999.0.0-alpha so that, when I debug my extension, it is never overwritten by any installed exten

[2021-01-21 00:38] marcdumais-work opened #272 "[jebbs.plantuml] Extension won't build under /tmp"
Troubleshooting in an environment similar to the publish bot, I could not build this extension, under `/tmp/extension`. When as a sanity check I tried the same under `/var/tmp/extension`, it worked.

When building under `/tmp` we get a huge blob of `React`-related errors such as:
[code]

See also: https://github.com/open-vsx/publish-extensions/pull/263

__update: How to reproduce:__

##  1) under

[2021-01-21 07:29] spoenemann commented on #272
@jankeromnes can you verify this? Shall we switch to another build directory?

[2021-01-24 13:12] joaosa opened #273 "The publish extensions github action is failing"
It seems like it has been failing for a while now, as it can be verified [here](https://github.com/open-vsx/publish-extensions/actions?page=1&query=workflow%3A%22Publish+extensions+to+open-vsx.org%22)

There are a number of errors and they seem to be related to the following extensions:

* <https://github.com/arjun-g/vs-swagger-viewer>
[code]

* <https://github.com/appulate/vscode-file-watcher>
[c

[2021-01-25 07:30] spoenemann commented on #273
The GH action fails if publishing any extension fails, so to address this we'd need to fix all extensions :grin:. But the workflow still processes all extensions, so one failing extension should not affect the other extensions.

Sure, it would help a lot if you can contribute fixes to properly publish some more extensions. There are already lots of open issues about individual extensions failing t

[2021-01-25 16:39] marcdumais-work commented on #272
@jankeromnes I have updated the description with easy instructions to reproduce the issue. They check-out on my local environment but I can only guess your build service is having the same issue.

[2021-01-26 10:38] joaosa commented on #273
Thanks for clarifying 😄 . I'll see what I can do regarding this!

As for the fix you applied yesterday, it seems the extensions still didn't get published 😅

[2021-01-26 14:44] spoenemann commented on #273
Right, the publishing CLI detected an extension with missing license and asked for user input, but no input is available in CI 😅 (see the end of the [console log](https://github.com/open-vsx/publish-extensions/runs/1766657732?check_suite_focus=true)).

I created https://github.com/eclipse/openvsx/issues/240 to improve this and removed that extension from the list.

[2021-01-31 16:37] Surendrajat commented on #200
Ping.
Is it a right time to get rid of `Bump golang.go` commits? :)

[2021-02-02 13:44] Surendrajat commented on #200
Right. It has been moved to golang org.

But what I really meant was to ask maintainers to automate this step now and stop bumping manually :)
Transitions to eclipse fdn is also over now.

[2021-02-03 10:50] andhet commented on #200
https://github.com/golang/vscode-go/issues/1177

[2021-02-03 21:23] marcdumais-work commented on #86
Hi @ivankravets

I hope you can switch to `vscode-clangd` ASAP - it's rapidly improving and gaining features, as is `clangd`. I have asked one of our contributors an update about one of your two blocking issues - I hope he can help.

Coming together and collaborating, us non-Visual-Studio product/framework makers, open registry provider and extension consumers, to offer a better solution, vs the s

[2021-02-03 21:27] ivankravets commented on #86
Hi @marcdumais-work ,

Please move your comment to https://github.com/platformio/platformio-vscode-ide/issues/1802

Happy to discuss how can we solve this issue ASAP.

[2021-02-06 14:59] andhet commented on #200
So, they won't publish directly. It would be ok for them to keep the latest branch up to date. (At the moment it is still pointing to an old version.) So should we revert commit [25d092d](https://github.com/open-vsx/publish-extensions/commit/25d092de06d8a3b8ed9dd0d69744310b777897f8) or should we keep a fixed version number, which has to be updated manually?

[2021-02-06 15:29] Surendrajat commented on #200
It's sad, and the maintenance argument doesn't really hold here, but I don't think that commit should be reverted. It will start the loop again when they don't update, and we have to ping them again.
Instead, I'd like to see these `Bump xyz…` PRs automated with some script or bot instead of manually updating those. At least, for extensions which have GitHub releases.

[2021-02-06 15:49] andhet commented on #200
I agree, that the commit shouldn't be reverted.
Where do you see that? And would this filter out release candidates? There must be a reason why a fix version number is recommended.

[2021-02-06 16:10] Surendrajat commented on #200
I saw this commit https://github.com/open-vsx/publish-extensions/commit/7377ee89906fef2259f5b28891d8cb3be16cbce2 and I think this is related :)

[2021-02-06 19:04] jankeromnes commented on #200
Thanks again for opening the request! A bit sad about the outcome, but we can indeed continue publishing any available `.vsix` from here.

Also, as you've pointed out, the process of upgrading is nearly fully automated:

- `node add-extension REPO_URL` will now automatically pick a `.vsix` release from GitHub if available

- `node upgrade-extensions` goes through the entire list, and bumps the con

[2021-02-07 08:09] Surendrajat commented on #200
@jankeromnes @andhet please feel free to close this now. Thanks for all your nice work on open-vsx!

[2021-02-07 09:11] andhet commented on #200
Nice, haven't seen that. :)

@jankeromnes
Shall we than set up the automatically cronjob? I would favour this approach over a build from their latest branch.
What is needed for that? A yaml file under .github/workflows? (Sorry, but I don't know how such things are working in github. I'm used to Bitbucket and Jenkins.)

[2021-02-12 18:08] andhet commented on #200
I think this issue can be closed now. :)

[2021-02-13 02:46] Surendrajat commented on #200
@andhet thanks for automating it. Feel free to close anytime after Sunday :)

[2021-02-14 16:43] andhet commented on #272
I can confirm this.
The /tmp directory is mounted by several distributions with the noexec option.
During the compile phase _node_modules/.bin/tsc_ is run (a symlink to node_modules/typescript/bin/tsc), which isn't possible, because of the used noexec option.
Remounting /tmp with exec solves the problem.

If I look into the ubuntu-latest container image, I can't find that /tmp has an own mount poi

[2021-02-15 09:41] jankeromnes commented on #272
Aha, great catch! Many thanks.

Might this potentially also explain https://github.com/open-vsx/publish-extensions/pull/286#issuecomment-779093302 and https://github.com/open-vsx/publish-extensions/pull/288#issuecomment-779094701?

Happy to switch to a different directory, e.g. home, to see if that fixes things.

[2021-02-15 17:27] andhet commented on #272
Maybe.
I have some spare time on wednesday. I will try to prove the hypothesis.

[2021-02-16 09:13] coxackie opened #292 "Pyright extension"
Right now, the [pyright](https://open-vsx.org/extension/ms-pyright/pyright) extension does not get updated, probably because of namespacing issues. Could open-vsx "adopt" it (as it is under an MIT licence), so that we can benefit from updated? Given the mess that the python extensions are right now, this one at least is both great, lightweight, and with a proper OS licence.

[2021-02-16 11:08] jankeromnes commented on #292
Hi @coxackie, thanks for your suggestion! I agree it would make sense to auto-publish Pyright to OpenVSX from this repository.

In fact, the extension is already present in `extensions.json`:

https://github.com/open-vsx/publish-extensions/blob/4ddcda31a6a6064effdc21f03c33e8179e18be4f/extensions.json#L1029-L1035

However, the configuration seems to be broken, because auto-publishing [currently fai

[2021-02-16 12:25] coxackie commented on #292
thanks for the prompt response. Could then someone please correct this, if it is just a problem of name mis-identification? (Also, latest version is 1.1.111 right now)

[2021-02-16 13:38] jankeromnes commented on #292
Trying this potential fix: https://github.com/open-vsx/publish-extensions/commit/a3a6eacd197103973ea8ce582555aa4baaefbd34

Let's check tomorrow if tonight's CI run works better with this.

[2021-02-17 08:36] coxackie commented on #292
It got updated, so that's good - many thanks! For future reference, does one have to manually update the version? Is latest version not pulled from github? I am asking because they seem to do frequent updates, and it would be a chore to have to update manually.

[2021-02-17 08:59] jankeromnes commented on #292
Thanks for the good news @coxackie! Could you please also confirm that the published extension works as expected?

Any explicit version string found in `extensions.json` does need to be updated whenever the upstream extension publishes an update.

However, we've partly automated the process of checking GitHub for updates (either in tags or GitHub Releases) and updating `extensions.json`, and this

[2021-02-17 09:05] coxackie commented on #292
yes, it works, same as when I downloaded manually VSIX. many thanks. Feel free to close this.

[2021-02-17 09:47] #292 closed

[2021-02-17 13:49] andhet commented on #272
Ok, I've tested a few things and I was wrong. Builds fine under /tmp in the action. Since the latest version 2.14.0 is already published, and the plugin is compiling fine under the ubuntu container image used by the publish action... Can we close this now?

@jankeromnes

No, this extension doesn't build under home either. This is a another problem.

[2021-02-17 18:51] coxackie opened #295 "Help: publish lua-language-server"
I followed the instructions for https://github.com/sumneko/lua-language-server (the author has unfortunately not responded in request to publish to openvsx, the licence is MIT), but I get
[code]
Anyone knows what is wrong?

[2021-02-18 09:20] jankeromnes commented on #295
Hi @coxackie! Oh, thank you for finding what looks like a bug in the `add-extensions` script.

It seems to be unable to locate the extension's `package.json` file in that repository. I'll have a look.

[2021-02-18 09:47] coxackie commented on #295
@jankeromnes sure thing, did not do anything, just followed instructions.

[2021-02-18 19:43] GitMensch commented on #221
As the move to Eclipse is over and the questions raised here are not really relevant any more - closed.

[2021-02-18 19:43] #221 closed

[2021-02-18 19:47] GitMensch commented on #273
Even when the main issues here are now solved (like skipping the CI asking for a license) this seems like a general useful hint.
Maybe pin that, possibly renamed to "Why is the publish extensions github action failing"?

[2021-02-21 09:55] coxackie commented on #295
The author has now kindly published the extension in OpenVSX. This issue can be closed, unless @jankeromnes wants to leave it open for whatever bug in the `add-extensions` is there to be fixed.

[2021-02-22 12:55] jankeromnes commented on #295
Ah, that's perfect. Many thanks @coxackie for helping make this happen! 💯

[2021-02-22 12:55] #295 closed

[2021-03-06 08:59] andhet commented on #200
@Surendrajat
I can't close it. Are you not yourself able to close this tasks, because you have created it?

[2021-03-06 09:08] #200 closed

[2021-03-06 09:09] Surendrajat commented on #200
Sure. I can.

[2021-03-09 08:49] coxackie opened #310 "clang extension not getting updated"
According to https://github.com/clangd/vscode-clangd/releases/tag/v0.1.11 there is already 0.1.11 out, but https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd is still stuck at 0.1.9. Any ideas of what the problem may be?

[2021-03-12 22:08] marcdumais-work commented on #310
I think @planger took care of publishing `v0.9.1`. Maybe he can publish the latest version.

[2021-03-12 22:09] marcdumais-work commented on #272
Thanks @andhet , closing.

[2021-03-12 22:09] #272 closed

[2021-03-15 14:52] planger commented on #310
I've now published [`v0.1.10`](https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd/0.1.10) and [`v0.1.11`](https://open-vsx.org/extension/llvm-vs-code-extensions/vscode-clangd/0.1.11).

[2021-03-16 11:35] alefbragin opened #315 "CI doesn't process `felixfbecker.php-intellisense` extension properly"
Package of `felixfbecker.php-intellisense` are broken. It does not contain extension's build itself and LSP server.

It looks like problems with the extension building were earlier. Most recent [commit](https://github.com/open-vsx/publish-extensions/commit/5b97679e43ee9c422335797a8624e047a5969217) involving `felixfbecker.php-intellisense` turns to direct downloading for it. But the [package](https

[2021-03-25 00:15] AbakumovAlexandr opened #322 "Fix Debugger for Chrome extension"
This is created as asked in [here](https://github.com/VSCodium/vscodium/issues/677#issuecomment-805943970).

The Debugger for Chrome extension is currently broken and outdated in this repository,

[2021-03-25 06:52] spoenemann commented on #322
If the extension is broken it might mean that we missed an essential build step when publishing the first version. Unfortunately the source repo does not offer vsix downloads in its releases, so we should find out how to build that project properly:

https://github.com/Microsoft/vscode-chrome-debug

[2021-03-29 08:44] akosyakov opened #324 "add vscode-java-pack"
https://github.com/microsoft/vscode-java-pack

[2021-03-30 14:23] #324 closed

[2021-04-28 19:39] brianking opened #337 "Remove nadim-vscode from Publish Script"
Extension:
https://open-vsx.org/extension/nadim-vscode/symfony-code-snippets

The namespace has been claimed:
https://github.com/EclipseFdn/open-vsx.org/issues/477

[2021-04-30 16:22] #337 closed

[2021-05-07 09:03] Minnozz opened #338 "Rename `chenglou92/rescript-vscode` to `rescript-lang/rescript-vscode`?"
I'm not sure what the policy for renaming an `id` is, but the [rescript-vscode](https://github.com/rescript-lang/rescript-vscode) extension has been moved to the `rescript-lang` GitHub account so the current name may be confusing:
[code]

(Also, a newer version is available)

[2021-05-07 09:03] Minnozz commented on #338
The authors are currently not interested in publishing the extension open Open VSX themselves: https://github.com/rescript-lang/rescript-vscode/issues/226

[2021-05-11 10:13] SimonSapin opened #342 "matklad.rust-analyzer is out of date"
https://open-vsx.org/extension/matklad/rust-analyzer currently lists version 0.2.563 as "latest", whereas https://marketplace.visualstudio.com/items?itemName=matklad.rust-analyzer has version 0.2.591.

It looks like the last update was made by @jankeromnes in https://github.com/open-vsx/publish-extensions/pull/333. Are such updates automated? Is making a new one blocked on something?

----

For co

[2021-05-11 10:53] jankeromnes commented on #342
Salut Simon ! 👋 😁

Whoops, good catch. These updates are indeed automated, but it looks like the automation started failing 2-3 weeks ago:

https://github.com/open-vsx/publish-extensions/actions/workflows/upgrade-extensions.yml

Will investigate & fix.

---

On a side note, this may be a good time to re-consider publishing to OpenVSX from the `rust-analyzer` repository itself (see also https://git

[2021-05-11 11:18] #342 closed

[2021-05-11 11:19] jankeromnes commented on #342
Update: Fixed in https://github.com/open-vsx/publish-extensions/pull/343/files

Latest `matklad.rust-analyzer` should get auto-published tonight (along with a bunch of other upgrades).

Thanks for reporting the broken auto-upgrades!

[2021-05-11 12:53] jankeromnes commented on #342
You're very welcome! 🙌

So,

- anyone can upgrade all extensions in `extensions.json` by simply running `node upgrade-extensions` (see [script](https://github.com/open-vsx/publish-extensions/blob/master/upgrade-extensions.js))
- in #342 I fixed the script, and ran it manually once to confirm that it works
- (when it works) the script [also runs](https://github.com/open-vsx/publish-extensions/blob/

[2021-05-14 16:35] brianking opened #345 "Remove bung87 extensions from publish script"
The following 2 extensions can be removed, as the author is taking over publishing.

https://github.com/bung87/vscode-rails
https://github.com/bung87/vscode-gemfile

More details:
https://github.com/EclipseFdn/open-vsx.org/issues/491

[2021-05-14 16:43] bung87 commented on #345
wait , open-vsx has script automatic publish ? then I dont need manually publish myself ?

[2021-05-14 17:24] jankeromnes commented on #345
Hi @bung87!

Yes, OpenVSX has some cheap auto-publishing in place, but only for when nothing better is possible.

This "automation" basically just `git clone`s an extension repository and runs `npx ovsx publish` in it every night. But this isn't ideal, because:
- it can accidentally publish work-in-progress state (the first uploaded version remains forever)
- it can publish broken artifacts (if yo

[2021-05-14 18:02] bung87 commented on #345
ok, get it, I can simply maintain publish state myself.

[2021-05-16 13:26] alexitx opened #347 "alefragnani.bookmarks is not available"
Old version 12.1.0 is present in `extensions.json`, the latest is 13.0.4.
https://open-vsx.org/extension/alefragnani/bookmarks leads to "Extension Not Found".

[2021-05-17 11:29] jankeromnes commented on #347
Hi @alexitx!

Unfortunately, `alefragnani.Bookmarks` cannot be published to OpenVSX because some of its code is not open-source: https://github.com/alefragnani/vscode-bookmarks/issues/315

[2021-05-17 11:30] #25 closed

[2021-05-17 13:29] alexitx commented on #347
Is there an alternative I can use before resorting to installing `vsix` manually? I couldn't find anything similar on Open VSX.

[2021-05-17 14:28] jankeromnes commented on #347
Ah, sorry, I overlooked the fact that GitHub Releases (now) have `.vsix` files: https://github.com/alefragnani/vscode-bookmarks/releases

In this case, I think we can stop [preventing](https://github.com/open-vsx/publish-extensions/blob/d2ba5125b02b8c2250aab97472f3ac5f803b0efe/upgrade-extensions.js#L20) auto-upgrades for this extension, and the upgrade script should automatically do the right thin

[2021-05-17 14:48] #347 closed

[2021-05-17 14:50] jankeromnes commented on #347
@alexitx: Update: I've re-enabled auto-publishing of `alefragnani.Bookmarks` to OpenVSX.

This means that, tonight at 03:03 UTC, the regular auto-publish job should re-publish `alefragnani.Bookmarks` to OpenVSX.

We'll know tomorrow if this worked or if there was some other problem. Many thanks for bringing this up! 🙏

[2021-05-24 12:10] brianking opened #351 "Remove cschlosser.doxdocgen extension from publish script"
The following extension can be removed, as the author is taking over publishing.

https://open-vsx.org/extension/cschlosser/doxdocgen

More details:
https://github.com/EclipseFdn/open-vsx.org/issues/512

[2021-06-11 20:00] petoknm opened #358 "Python extension outdated"
2020.10.332292344 on https://open-vsx.org/extension/ms-python/python
and
2021.5.926500501 on https://marketplace.visualstudio.com/items?itemName=ms-python.python
and
2021.5.842923320 on https://github.com/open-vsx/publish-extensions/blob/d070a30881a7c27352e9c2c078642a66c5789e98/extensions.json#L1131 which is fine because latest version was releases 22 hours ago

[2021-06-14 17:31] yimuchen commented on #358
I dug around in the action log. It seems to be an issue with the `ms-python.python` extension requiring the `jupyter` extension by default. I think there are a couple of pull requests aimed to solve related issues:

- Removing jupyter as dependency of ms-python (outdated?):  https://github.com/open-vsx/publish-extensions/pull/293
- Adding jupyter to the repository (stuck with license issue on upst

[2021-06-16 15:47] yimuchen opened #360 "New failure mode for the publish extensions actions"
The publish action from 3 days ago "fails" but processes all extensions, and exits with code 255
https://github.com/open-vsx/publish-extensions/runs/2799481594?check_suite_focus=true

But he publish action from the latest 2 actions seems to fail at a rather early extensions (`erlang-ls.erlang-ls`) and exits with code 1
https://github.com/open-vsx/publish-extensions/runs/2835500077?check_suite_focu

[2021-06-17 17:39] heyheyhello opened #363 "ESLint shouldn't be on the "don't update" list"
Hello,

First, thanks for all your work on this project! I noticed yesterday that the ESLint version in VSCodium is very old at Oct 2020 so I checked out this repo and starting updating the extension.json - only after I noticed that vscode-eslint is on your block list:

https://github.com/open-vsx/publish-extensions/commit/04b9d475d20b93f59008078e77d9adbda1206ffc

The rationale was that all releas

[2021-06-28 13:12] #360 closed

[2021-07-05 13:36] yimuchen opened #380 "Jupyter extension timing out on publish"
The latest output of the publish extension action for vscode-jupyter

[code]

[2021-07-08 12:27] brianking opened #381 "Remove stef-k.laravel-goto-controller from publish script"
It has been claimed by the owner.
https://github.com/EclipseFdn/open-vsx.org/issues/577

[2021-07-13 08:05] petoknm commented on #380
What can we do about this:
 - can we speed up the build?
 - can we increase the build timeout?

[2021-07-13 08:10] petoknm commented on #358
Issue is `Error: Cannot resolve bundled extension: ms-toolsai.jupyter`.

Can we ignore the bundled extension? AFAIK, it should be optional now.

<details>
  <summary>Build Log</summary>

[code]
</details>

[2021-07-13 16:54] omhomurlu commented on #358
It's released with optional jupyter extension dependency with the latest release: https://github.com/microsoft/vscode-python/releases/tag/2021.6.944021595
_Move the Jupyter extension from being a hard dependency to an optional one, and display an informational prompt if Jupyter commands try to be executed from the Start Page._

I've tried installing linked https://github.com/microsoft/vscode-pytho

[2021-07-20 12:45] chrjorgensen opened #393 "Change upgrade extensions script to ignore failing extensions"
As it is now, one extension failing will stop the upgrade extension workflow.

It would be great if the script would ignore the error and extension, and just continue with the remaining extensions.

This way one simple error like the "misspelled" license file in [PR #388](https://github.com/open-vsx/publish-extensions/pull/388) won't stop other extensions from being upgraded.

[2021-08-06 08:49] brianking commented on #345
@jankeromnes It seems like this is good to remove now.

[2021-08-06 08:49] brianking commented on #351
@jankeromnes fyi.

[2021-08-06 08:50] brianking commented on #381
@jankeromnes fyi.

[2021-08-16 10:59] dgcampea opened #407 "bmalehorn.vscode-fish out of date"
Latest release is 1.0.23 but only v1.0.20 is available on open-vsx.

[2021-08-22 00:56] playgithub opened #408 "warning when `npm install`"
## Env
`npm install` in the root of this repo

## Log
[code]

[2021-08-24 10:09] exploide opened #414 "latex-workshop version 8.20.2 is broken"
Since the update to latex-workshop version 8.20.2, the extension does no longer work. The build command for example is broken. It isn't even possible to type newlines because of an error saying "command 'latex-workshop.onEnterKey' not found".

This has been reported upstream https://github.com/James-Yu/LaTeX-Workshop/issues/2845 but it was explained that it is an issue with open-vsx:

[2021-08-24 10:12] jemand771 opened #415 "James-Yu.latex-workshop has in valid vsix file in 8.20.2"
from https://github.com/James-Yu/LaTeX-Workshop/issues/2845:

[2021-08-24 10:13] jemand771 commented on #415
looks like I was too slow writing this, closing as a dupe of https://github.com/open-vsx/publish-extensions/issues/414

[2021-08-24 10:13] #415 closed

[2021-08-24 10:19] jemand771 commented on #414
here's the corresponding actions log. I don't see anything wrong with it though 🤔
https://github.com/open-vsx/publish-extensions/runs/3407072828?check_suite_focus=true#step:7:5595 (the link takes a while to load and auto-scroll)

[2021-09-09 12:31] groengpx opened #433 "Jupyter can not be installed"
The current Jupyter extension on open-vsx.org requires vscode 1.59-insider:

[code]

This makes it impossible the install the extension on vscod{e,ium} 1.60 (not insider).

[2021-09-10 13:42] mseri commented on #163
Version 8.20.2 is failing again with the same error for me

[2021-09-10 18:26] BartG95 commented on #433
As of today, it works again: I can install the Jupyter extension on vscodium 1.60 (not insider), without any errors or warnings.
Whoever solved this: thanks! This issue can be closed.

[2021-09-10 18:37] #433 closed

[2021-09-14 09:36] akosyakov commented on #380
was resolved

[2021-09-17 12:36] HuJK opened #440 "[Feature request] Divisions system like debian."
Microsoft C++ is a powerful extension, but it's not opensource so[ it can't be add to open-vsx](https://github.com/open-vsx/publish-extensions/pull/250 ).

I think we can learn from debian registry, introduce the divisions system from it to make our registry more inclusive.

Debian has these divisions:
1. `main`: All free software that follows the DFSG (Debian Free Software Guidelines)
2. `contrib

[2021-09-17 18:52] HuJK commented on #440
https://github.com/eclipse/openvsx/issues/335

[2021-09-17 18:52] #440 closed

[2021-09-18 14:14] mpnordland commented on #358
This issue is still occurring. I am unable to install the python extension from Open-VSX because the Jupyter extension is out of date and not compatible with VS Code 1.58.0

[2021-09-19 19:52] l1ving commented on #163
I thought I was the only one.

Dev tools log:
[code]

[2021-09-19 21:28] l1ving commented on #414
Can confirm that building it manually works fine. Seeing as `vsce` has been bumped to the latest version, what is actually blocking things from working now? https://github.com/eclipse/openvsx/blob/2ce0e286df21fae0255d482be47c174049702ccf/cli/package.json#L44

[2021-09-20 07:49] jankeromnes commented on #363
Hi @heyheyhello! Wow, many thanks for the great catch. I suppose the [Releases](https://github.com/microsoft/vscode-eslint/releases) page says "Insider" everywhere, but actually most of these are now "stable", right?

I totally agree that the latest stable version should be published. I'll adjust our auto-publish pipeline to make this happen. (Also, sorry for the very late response, as this issue

[2021-09-20 07:55] jankeromnes commented on #407
Thanks for reporting this! Looks like auto-publishing for this extension is currently broken. The latest attempt failed with:

[code]

https://github.com/open-vsx/publish-extensions/runs/3647811308?check_suite_focus=true

[2021-09-20 08:00] jankeromnes commented on #414
@l1ving Thanks for noticing and confirming!

The latest publish run says this:

[code]

If the currently-uploaded version `8.20.2` is broken, we'll need to either wait for the next release of `James-Yu.latex-workshop` to publish a fixed version, or we can request that an OpenVSX admin deletes the currently-broken `8.20.2` artifact so that it can be re-published successfully.

[2021-09-20 08:13] jankeromnes commented on #414
Hi @spoenemann! What is the current process to get a broken extension versions deleted from OpenVSX? (Specifically `James-Yu.latex-workshop@8.20.2`)

[2021-09-20 08:14] #345 closed

[2021-09-20 08:14] #351 closed

[2021-09-20 08:14] #381 closed

[2021-09-20 08:14] #363 closed

[2021-09-20 08:34] JanKoehnlein commented on #408
/schedule
/team meta
/assign @jankeromnes

I've assigned @jankeromnes as I know he's going to work on it.
In the long run the open VSX tasks should go to the IDE team.

[2021-09-20 09:03] brianking commented on #414
@jankeromnes You can file an issue at https://github.com/EclipseFdn/open-vsx.org/issues to remove extensions.

[2021-09-20 19:18] l1ving commented on #414
Thank you for following up, glad to here there isn't much of an issue at this point :)

[2021-09-20 19:19] l1ving commented on #163
This issue is being tracked at #414, and has been resolved (mostly).

[2021-09-21 10:42] brianking commented on #414
v8.20.2 has been removed.

[2021-09-21 13:16] jemand771 commented on #414
thanks! the extension should rebuild in about 12 hours from now, hopefully we'll get a working 8.20.2 out of that :)

[2021-09-22 09:30] jemand771 commented on #414
for me it looks like all of the weird issues the broken vsix file had are gone now - can someone else confirm that? ^^

[2021-09-22 09:37] akosyakov commented on #358
Please upgrade to latest VS Code. Unfortunately publishing script for python was broken for 8 months, so many intermediate were not published. Now it is fixed and new versions are published, but you have to have up to date VS Code to use them.

[2021-09-22 18:54] arnaudgolfouse commented on #414
Installing manually the .vsix file at https://open-vsx.org/extension/James-Yu/latex-workshop works for me, but it doesn't via codium... is that to be expected ?

[2021-09-23 18:08] arnaudgolfouse commented on #414
Well nevermind, it works now 🎉

[2021-09-25 12:17] exploide commented on #414
Thanks, it's working. I'm closing this issue then.

[2021-09-25 12:17] #414 closed

[2021-09-25 14:03] Tyf0x opened #448 "oderwat.indent-rainbow-8.0.0.vsix package seems corrupted"
When installed in vscodium, this package fails with the following errors:

[code]

Installing the extension for the vsix from the MS marketplace works as expected.

![image](https://user-images.githubusercontent.com/6980921/134774222-7f00ae98-99b4-4553-8663-345f2a4fe247.png)

[2021-09-28 12:43] #358 closed

[2021-10-13 18:26] tennox opened #460 "Pylance extension - Creative Commons Attribution 4.0 International acceptable?"
Would the [pylance extension](https://github.com/microsoft/pylance-release) be acceptable for a PR here?
It is published with the **[Creative Commons Attribution 4.0 International](https://github.com/microsoft/pylance-release/blob/main/LICENSE)** license - but the attribution request would be met, I think.

[2021-10-16 13:55] chrjorgensen opened #462 "SLACK notification fail and prohibits PR"
I have made a PR with a simple update of extensions.js - and now the check fails.

Th action checking the PR has some new SLACK notification integrated - but there is an error in the setup, and the check fails with this error:
[code]

[2021-10-21 11:45] #462 closed

[2021-10-25 15:30] #460 closed, assigned to nobody

[2021-10-27 11:10] filiptronicek opened #471 "Don't publish prereleases"
First discussed in https://github.com/open-vsx/publish-extensions/pull/466#discussion_r734630003.

## Changes
The script scrapes the GitHub releases page and gets the release URL, instead we should fetch the GitHub Releases API (https://docs.github.com/en/rest/reference/repos#releases) and look for the `prerelease` key to determine whether to publish the version or not.

### Things to look out for

[2021-10-28 08:20] akosyakov opened #474 "Setup an issue and PR templates for new extension"
Template should insist on opening an issue [like that](https://github.com/pascalre/vscode-yaml-sort/issues/40) in the extension repo. Only if the author does not want to take an action after certain amount of time an extension can be accepted.

@loujaybee it would be good if you can polish template, it's basically like a cold email 😄 so should be short but credible (how many extension authors alre

[2021-10-28 08:26] loujaybee opened #475 "Publish step does not alway respect extensions.json"
Currently, it's possible for an extension with a higher version than the property specified in the extensions.json to be published. This shouldn't be the case, the extensions.json file should always be respected to ensure the publish step behaves as expected.

[2021-11-01 17:56] filiptronicek opened #476 "Add some VS Code-recommended extensions to Open VSX"
Not all non-proprietary extensions, which VS Code recommends for specific files and languages are published to Open VSX, from what I found those are
- [`ms-vscode.vscode-github-issue-notebooks`](https://github.com/microsoft/vscode-github-issue-notebooks)
~[`ms-dotnettools.csharp`](https://github.com/OmniSharp/omnisharp-vscode)~
~[`ms-vscode.cpptools`](https://github.com/microsoft/vscode-cpptools/t

[2021-11-02 07:25] akosyakov commented on #476
I think ms-dotnettools.csharp and ms-vscode.cpptools has runtime deps to proprietary components like debuggers which cannot be used outside of MS products, so they cannot be published to Open VSX as well.

`ms-vscode.vscode-github-issue-notebooks` looks good.

[2021-11-02 18:40] filiptronicek commented on #476
Thanks for the note, @akosyakov, I'll update the issue accordingly.

[2021-11-08 06:49] akosyakov opened #482 "dbaeumer.vscode-eslint is outdated"

[2021-11-08 11:09] akosyakov commented on #482
I think we should switch to tags instead of GitHub releases in this case: https://github.com/microsoft/vscode-eslint/tags

[2021-11-08 12:09] yashpalgoyal1304 opened #484 "Open in vscodium"
i am certain that this issue doesnt belong in this repo, but i didnt find any website repo ([any other repo](https://github.com/open-vsx?tab=repositories) for that matter), so, posting here.

- It would be really nice if the open-vsx site has some mechanism to trigger "Open in VSCodium" behaviour
- found in other sites, including the ms-vsmarket site, or telegram site.

Rough mockup:

<img src="ht

[2021-11-08 12:27] akosyakov commented on #484
You should open an issue here instead: https://github.com/eclipse/openvsx Although I am not sure where we should stop then, VSCodium is not a single consumer of Open VSX, neither primary. Why should it be special? Should we allow any fork of VS Code, i.e. Gitpod, openvscode-server, code-sever, any Theia based product?

[2021-11-08 12:27] #484 closed

[2021-11-08 16:21] filiptronicek commented on #482
@akosyakov trying to create a way of automating the process of figuring out whether a repo hasn't moved away from GH Releases.

[2021-11-08 16:39] filiptronicek commented on #482
We could have a query like this to check whether the latest tag was published as a release:
[code]

[2021-11-09 07:29] akosyakov commented on #482
I thought we already have a logic based on tags: https://github.com/open-vsx/publish-extensions/blob/7d08a64dcc8e4542c260e2332fcab1c7b2994250/add-extension.js#L137-L146

It should be a matter of adding checkout in extensions.json?

[2021-11-09 14:57] #482 closed

[2021-11-10 16:10] #393 closed

[2021-11-10 16:10] #471 closed

[2021-11-10 17:17] mellson opened #488 "Add RescriptRelay"
I have the [authors permit](https://discord.com/channels/779997538434154497/842450522333380682/908040828411342869) to add the RescriptRelay extension here.

[2021-11-10 17:38] mellson opened #490 "Update entry for formulahendry.auto-rename-tag"
[formulahendry.auto-rename-tag](https://github.com/formulahendry/vscode-auto-rename-tag) has stopped releasing on their repo and now do it directly to the vs code marketplace. So we need to update our entry and build it from source.

[2021-11-11 03:58] seanking2919 commented on #476
For note, @muhammadsammy already publishes and maintains a [FOSS-licensed version of the C# extension for VS Code](https://open-vsx.org/extension/muhammad-sammy/csharp) on Open VSX. As far as the C/C++ one, there seems to be no alternative version yet on Open VSX.

[2021-11-16 14:03] loujaybee commented on #475
Commented PR to see if it makes sense for @filiptronicek to pick this one up for publish extensions work:

https://github.com/open-vsx/publish-extensions/pull/470#issuecomment-970304449

If that's fine for you @filiptronicek let's go ahead and re-assign this issue also to you, if that's okay?

[2021-11-18 14:23] filiptronicek opened #503 "Add support for GitLab repositories for extensions"
Currently, all releases, versions and tags are fetched using octokit.js, but this doesn't allow for GitLab, so support for this should be added.

[2021-11-18 14:24] filiptronicek commented on #503
- https://github.com/open-vsx/publish-extensions/blob/master/extensions.json#L498
- https://github.com/open-vsx/publish-extensions/blob/master/extensions.json#L593
- https://github.com/open-vsx/publish-extensions/blob/master/extensions.json#L597
- https://github.com/open-vsx/publish-extensions/blob/master/extensions.json#L1493

[2021-11-18 14:32] filiptronicek opened #504 "Validate extensions on PRs"
Validate extensions by running a dry run on the changed extensions.

We should:
- compare extensions.json from PR with master and detect changed extensions
- then run the publish job with skip publish and list of extensions from above

[2021-11-18 15:31] bigint commented on #503
Maybe I can pick this 😄

[2021-11-18 15:40] filiptronicek commented on #503
As @bigint pointed out, we can use https://github.com/jdalrymple/gitbeaker to access the GitLab API via JS.

[2021-11-19 09:50] #475 closed

[2021-11-19 09:55] mlbiche opened #506 "Last update of Angular.ng-template extension (13.0.0) is bugged while extension from Visual Studio Code Marketplace is not"
OpenVSX just released yesterday the last update of the Angular.ng-template extension (version 13.0.0). This version seems to only bugged on OpenVSX. As the extension is published by open-vsx, I report the issue here but I don't know if it is the right place.

The Extension Host Log console logs the following issue :

[code]

[2021-11-19 10:04] akosyakov opened #507 "smoke test extension with latest OpenVSCode server before publishing"
@jeanp413 do you think it is possible? Can we reuse your tool to run tests against openvscode server?

Basically I want to run code cli to install from vsix, then open a window with plawright and check whether extension is installed and does not fail while activating.

[2021-11-19 10:06] akosyakov commented on #503
@bigint It should be integrated here https://github.com/open-vsx/publish-extensions/blob/master/lib/resolveExtension.js

[2021-11-19 10:18] akosyakov commented on #506
The publish job was fixed and it will do the right thing, but we need till the broken version is unpublished.

[2021-11-19 13:20] akosyakov commented on #503
Wait a bit working on it, I think we need to rewrite it to use local git to ask questions about tags and commits instead of GitHub apis. Jobs are hitting rate limit.

[2021-11-19 14:27] bigint commented on #503
Makes sense, rate limits are bad 😭

[2021-11-19 15:55] akosyakov commented on #503
Pushed a commit fixing, so it should be quite easy, the only code which should be aligned with GitLab is https://github.com/open-vsx/publish-extensions/blob/66c6d4697c017b4262cbb40d6bc7d138caadbcde/lib/resolveExtension.js#L71-L92 Otherwise it will use local git.

[2021-11-22 09:24] akosyakov commented on #476
resolved with https://github.com/open-vsx/publish-extensions/pull/505

[2021-11-22 09:24] #476 closed

[2021-11-22 18:02] filiptronicek commented on #490
This should be fixed by https://github.com/open-vsx/publish-extensions/pull/494.

[2021-11-22 18:02] #490 closed

[2021-11-23 09:49] akosyakov commented on #504
resolved by https://github.com/open-vsx/publish-extensions/pull/508

[2021-11-23 09:49] #504 closed

[2021-11-23 09:49] akosyakov commented on #503
@bigint Are you looking into it? Or @filiptronicek can take it?

[2021-11-23 10:27] bigint commented on #503
I'm bit busy RN, yes @filiptronicek can take it 😄

[2021-11-24 14:49] akosyakov opened #510 "auto check that license is OSI approved"
there is a package https://www.npmjs.com/package/osi-licenses It would be interesting to know whether it could work

[2021-11-25 08:46] matkoniecz opened #512 "openvsx extension missing included npm_modules"
PeterWone/vsc-print extensions fails to install in VSCodium what is caused by corruption of extension package by openvsx

I am not the first affected person, see https://github.com/PeterWone/vsc-print/issues/116

I reported it as VScodium bug but appears to be openvsx bug, see https://github.com/VSCodium/vscodium/issues/928

entire `node_modules` was missing.

It is also missing from VSIX file at

[2021-11-25 08:48] matkoniecz commented on #512
pure guessing:

Maybe https://github.com/PeterWone/vsc-print/blob/master/.vscodeignore#L23 is not parsed?

See also https://github.com/eclipse/openvsx/issues/376#issuecomment-978318544 by extension author:

[2021-11-25 08:50] matkoniecz commented on #512
See also:

- material theme extension is missing build folder #196
- Missing out/ directory #163

[2021-11-25 09:32] #503 closed

[2021-11-25 09:34] akosyakov commented on #512
Extension was removed from OpenVSX as requested by the author: https://github.com/eclipse/openvsx/issues/377
Please up-vote instead: https://github.com/PeterWone/vsc-print/issues/120

[2021-11-25 09:34] #512 closed

[2021-11-25 10:24] matkoniecz commented on #512
If I read it correctly author is fine with publishing version obeying MIT license - and that is not fatally broken while being attributed to them.

[2021-11-25 10:42] akosyakov commented on #512
The author asked explicitly to take it down from auto publishing and going to publish himself instead: https://github.com/eclipse/openvsx/issues/377#issuecomment-978914061

[2021-11-25 12:38] loujaybee commented on #507
This was currently in groundwork inbox, moving to scheduled for now.

[2021-11-25 21:26] filiptronicek commented on #80
I'm closing this as we no longer have an `add-extension` script.

[2021-11-25 21:26] #80 closed

[2021-11-26 13:32] jeanp413 commented on #507
@akosyakov yeah I think it's possible but for this case I think It'll easier to just use the oficial test utility https://github.com/microsoft/vscode-test

[2021-11-26 13:42] akosyakov commented on #507
@filiptronicek maybe you can also look into it?

[2021-11-26 16:28] filiptronicek commented on #26
Looks like this is not a problem anymore 😀

<details>
<summary>Logs</summary>

[code]

</details>

[2021-11-26 16:28] #26 closed

[2021-11-26 16:47] filiptronicek commented on #33
@jankeromnes this extension seems to not be present anymore in the extensions file, is this ok to close?

[2021-11-26 17:12] filiptronicek commented on #315
@alefbragin could you please reiterate what you think the problem is here? In this case, the CI doesn't "process" any commit at all, it just downloads the `.vsix` file from the releases, unpacks it and publishes that to OpenVSX.

[2021-11-26 17:43] hm2075 commented on #506
who is responsible for this extension on open vsx?

![image](https://user-images.githubusercontent.com/53794682/143616427-c139240d-68f8-45c8-8fca-d55fceb1b701.png)

its been down for a number of days,

[2021-11-26 18:07] filiptronicek commented on #507
I'd be delighted to.

[2021-11-27 10:30] jankeromnes commented on #33
Oops, indeed: https://github.com/open-vsx/publish-extensions/commit/9a2eadfedb51948559aaf432284d105549bb4708

Fine to close then. 👍

[2021-11-27 10:30] #33 closed

[2021-11-29 11:04] #242 closed

[2021-12-09 12:54] RB-Lab commented on #163
Hi! Looks like a similar issue is in `template-string-converter` package: https://github.com/meganrogge/template-string-converter/issues/59 Could it be related (e.g. common publishing pipeline)?

[2021-12-09 13:07] akosyakov commented on #163
Could you open a new issue if `template-string-converter` does not work?

[2021-12-11 09:02] RB-Lab commented on #163
Sure, NP.

[2021-12-11 09:12] RB-Lab opened #522 "Missing `/out` directory in template-string-converter"
**TL;DR;**
In `template-string-converter` extension's directory the `/out` folder is missing.

When I've installed `template-string-converter` in Code OSS (from Arch official repo) which by default uses OpenVSX registry the `/out` directory is missing in extension folder, which prevents it from being activated. Since VisualStudio Marketplace version doesn't have such a problem, and extension maint

[2021-12-13 07:30] akosyakov commented on #522
@filiptronicek Could you investigate what is the root cause? If currently the publish job produces a proper artefact, then we probably should unpublish bogus version and let publish job run again? Also can we try to reach out to the extension author?

[2021-12-13 15:32] filiptronicek commented on #522
Replied in the linked issue on the extension's repo.

[2021-12-13 15:57] filiptronicek commented on #163
It looks like the extension is still not working, but because of another cause, created https://github.com/James-Yu/LaTeX-Workshop/issues/3011 to track this.

[2021-12-13 16:11] filiptronicek commented on #163
Apparently this will take a while to fix: https://github.com/James-Yu/LaTeX-Workshop/issues/3011#issuecomment-992627030

[2021-12-17 07:57] akosyakov commented on #506
@filiptronicek @hm2075 Could you verify that it is resolved?

[2021-12-17 07:59] akosyakov commented on #506
Hm, I just unpacked the latest version and still cannot see `dist` folder.

@filiptronicek could you make a priority to work on this issue please 🙏

[2021-12-17 14:11] filiptronicek commented on #506
Although the build process is fixed, it looks like we first need to unpublish this version and somehow manually publish it from the build artefact.

[2021-12-23 16:26] filiptronicek commented on #506
I just installed v13.1.0 from OpenVSX, it is working now. Closing the issue, we can open a new one if any further problems arise.

![image](https://user-images.githubusercontent.com/29888641/147267405-66d81068-8812-453a-ae0f-c651708a8f6f.png)

[2021-12-23 16:26] #506 closed

[2021-12-30 18:11] Mazwak opened #527 "[matklad.rust-analyzer] Extension autopublish killed by an upstream change"
A change in extension publishing killed auto publish.

See https://github.com/rust-analyzer/rust-analyzer/issues/11080

[2021-12-30 23:28] yannl35133 opened #528 "ms-pyright.pyright is out-of-date"
I don't know who publishes the extension here, but it is 20 versions late, and unfortunately for me one of them fixes a bug I am facing.

Could you publish the latest version ?

[2021-12-31 01:04] #528 closed

[2021-12-31 01:06] filiptronicek commented on #528
@yannl35133 hopefully I fixed this in the linked PR, can you please double check you are no longer facing the issue at hand?

[2021-12-31 01:07] yannl35133 commented on #528
Thank you very much, that was very fast. I checked and the bug I had vanished, so it should be good

[2021-12-31 01:13] filiptronicek commented on #528
It's 2AM here, love to fix bugs when I'm very tired, happy to help! 😄

[2022-01-03 12:40] samweisgamdschie opened #530 "Need ms-vscode-remote.remote-ssh"
Hi!

At first, I am pretty happy seeing a project like this to be independent from MS, many thanks for that.

My question is, is it possible for you to add `ms-vscode-remote.remote-ssh` and the dependencies for remotely develop, debug and execute **python** scripts?

Best regards

[2022-01-03 16:23] filiptronicek commented on #530
Hi there @samweisgamdschie, I appreciate your liking of the project!

Sadly, this is not possible. For publishing to OpenVSX via this repository, the extension at hand has to be open-source and also have a license which is approved by the Open Source Initiative. This is not the case for many Microsoft-owned extensions, including the remote development toolkit, live share and others. Maybe one day

[2022-01-05 06:21] #530 closed

[2022-01-05 06:24] akosyakov commented on #527
@filiptronicek Can you guide authors to remove an extension from here and let them to publish directly? I think it would be the best and align with https://github.com/open-vsx/publish-extensions#when-to-add-an-extension

[2022-01-05 21:57] Mazwak commented on #527
For the record
Direct publish declined by maintainer on July 2020 in https://github.com/rust-analyzer/rust-analyzer/issues/4936
Things changed in 2021 in https://github.com/rust-analyzer/rust-analyzer/issues/7284
but it is blocked by https://github.com/eclipse/openvsx/issues/336

To users that want an updated RA in their vscode clone, you have to install the vsix release for the time being
https:/

[2022-01-06 12:02] filiptronicek commented on #527
@akosyakov should we remove the extension now because it's not working anyway and they are willing to go through with publishing directly?

[2022-01-06 14:31] filiptronicek commented on #527
https://github.com/open-vsx/publish-extensions/commit/6afb8d3882f0e69128c5617f27836366cbed283e

[2022-01-06 14:31] #527 closed

[2022-01-06 14:51] akosyakov commented on #527
@filiptronicek the mentioned commit seems to remove something else not matklad.rust-analyzer?

[2022-01-06 15:10] filiptronicek commented on #527
@akosyakov fixed it, thanks for letting me know!

[2022-01-06 16:16] filiptronicek commented on #408
Hi @playgithub, sorry this took so long. I have tried to replicate the issue but can't: the only warning that I get when switching to Node 6 is an invalid license expression, but that is because Node 6 is using an old version of the license ID database, which is not something present in newer versions of Node.

I'm closing this for now, if it comes up again for you please let me know 😃

[2022-01-06 16:16] #408 closed

[2022-01-06 16:29] filiptronicek commented on #38
Looks that this is no longer present after we added this:
https://github.com/open-vsx/publish-extensions/blob/377e1d79b7d0a7d307df34b3ae9f30e86b3ccd2c/publish-extension.js#L53-L54

[2022-01-06 16:29] #38 closed

[2022-01-06 16:33] filiptronicek commented on #40
I believe the only thing that can close this other than a fix from the author is to merge https://github.com/formulahendry/vscode-auto-rename-tag/pull/597.

[2022-01-06 16:43] filiptronicek commented on #129
Gitpod is not using Theia anymore, and the default Node version is 16 as of today. Should be good to go, but the extension won't work because of #527.

[2022-01-06 16:43] #129 closed

[2022-01-07 08:01] akosyakov commented on #32
@filiptronicek make sure to reach out to author of appulate.filewatcher, as usual the best way of fixing such bugs is removing extension from here 🙏

[2022-01-07 08:02] akosyakov commented on #34
@filiptronicek make sure to reach out to extensions authors, as usual the best way of fixing such bugs is removing extension from here 🙏

[2022-01-07 18:12] filiptronicek commented on #32
https://github.com/appulate/vscode-file-watcher/issues/15

[2022-01-07 18:31] filiptronicek commented on #34
Created https://github.com/IBM-Blockchain/blockchain-vscode-extension/issues/3085

[2022-01-11 13:01] akosyakov commented on #34
For unmaintained it is tricky. It is still used a lot and seem to be popular: https://marketplace.visualstudio.com/items?itemName=ikappas.phpcs&ssr=false#review-details

[2022-01-11 14:28] filiptronicek commented on #34
Yea, I use it on my PHP projects as well, it's a good extension. ~~Maybe there's some fork we could publish?~~ looks like there is no actively maintained fork 😕

[2022-01-12 08:29] akosyakov commented on #34
Let's do following with unmaintained (like 1-2 years no activity at all), make sure that last version is published to OpenVSX with the service account and remove from this repo. If it comes later because maintainers become active again then let's work with maintainers not adding it here again.

With that we probably should go through existing extensions and identify such to clean up extensions.jso

[2022-01-18 17:33] filiptronicek opened #536 "Create a `CONTRIBUTING.md` file"
[Contributing guidelines (Wikipedia)](https://en.wikipedia.org/wiki/Contributing_guidelines)

They can help with people who are looking for these kinds of files when finding out about a repository.

I would suggest having two different sections in it:
1. Contributing code - some small notes about our process (peeps should create an issue first, something about how this is not OpenVSX code etc.)
2.

[2022-01-19 09:21] #474 closed

[2022-01-27 15:40] xsrvmy opened #539 "Publish vscode-js-profile-table"
`vscode-js-profile-table` is now a built-in extension, but it is not on openvsx. It is MIT licensed.

[2022-01-30 23:03] jirutka opened #542 "Publish znck.grammarly"
It has been requested almost a year ago in upstream, but the author hasn’t responded yet: https://github.com/znck/grammarly/issues/184.

[2022-02-16 07:16] akosyakov commented on #542
@filiptronicek it should be added to OpenVSX board correct?

[2022-02-16 08:20] filiptronicek commented on #542
Yes, I will add it right away 👍

[2022-02-22 19:16] AS400JPLPC commented on #512
please install accès  https://open-vsx.org/?search=&category=&sortBy=relevance&sortOrder=desc
Thank

[2022-02-28 12:19] filiptronicek commented on #539
I have now published the extension to Open VSX [[1](https://open-vsx.org/extension/ms-vscode/vscode-js-profile-table)], but have been struggling to make it work with publishing automatically. I will continue on trying, but until then there is the latest version published.

[2022-03-04 21:22] filiptronicek opened #555 "Removal of extensions dependent on `ms-vscode.cpptools`"
This is just a little announcement about the removal of the following extensions from this repo and therefore limiting them to self-publish by their respective authors:
- [`itsmajestix.vscode-ti`](https://github.com/ItsMajestiX/VSCode-Ti)
- [`vsciot-vscode.vscode-arduino`](https://github.com/microsoft/vscode-arduino)
- [`kosz78.nim`](https://github.com/pragmagic/vscode-nim)
- [`platformio.platform

[2022-03-04 21:27] #555 closed

[2022-03-10 13:18] akosyakov opened #559 "vscode-pull-request-github is out dated"

[2022-03-10 18:40] filiptronicek commented on #559
This is fixed with https://github.com/microsoft/vscode-pull-request-github/releases/tag/v0.38.1, I have manually triggered a publish on this version to make it available right away.

[2022-03-10 18:40] #559 closed

[2022-03-23 18:47] J-Fields opened #561 "Remove `vscodevim.vim`"
I am the primary maintainer of this extension and am taking over publishing it to openvsx (see https://github.com/EclipseFdn/open-vsx.org/issues/905)

[2022-03-23 19:38] alexkrechik opened #562 "alexkrechik extension auto publishing"
Could you please disable alexkrechik cucumber extension auto publishing? This is required to get alexkrechik namespace ownership. More info could be foune [here](https://github.com/EclipseFdn/open-vsx.org/issues/924#issuecomment-1076701992).

[2022-03-24 09:37] #561 closed

[2022-03-24 09:38] filiptronicek commented on #561
Thanks, @J-Fields!

[2022-03-24 09:41] filiptronicek commented on #562
Hi there @alexkrechik, just wanted to say a big thanks for willing to publish the extension yourself, we really appretiate it.

I removed the extension from the list, you should be good to go now 🚀 :shipit:

[2022-03-24 09:41] #562 closed

[2022-03-24 16:47] #539 closed

[2022-03-25 12:04] manuth opened #567 "The `amodio.tsl-problem-matcher` Can't Be Published"
As far as I can see, the `amodio.tsl-problem-matcher` extension can't be published by GitHub Actions.
However, I don't really understand what's causing it to fail.

Is it not working because the `amodio` namespace already exists?

[2022-03-28 06:35] benz0li opened #569 "Jupyter extension: Pre-release set to latest version"
https://open-vsx.org/extension/ms-toolsai/jupyter/2022.3.1000752054 should not have been published as https://open-vsx.org/extension/ms-toolsai/jupyter/latest [for now at least].

---

In comparison:

**ESLint**
https://open-vsx.org/extension/dbaeumer/vscode-eslint/latest is https://open-vsx.org/extension/dbaeumer/vscode-eslint/2.2.2.
👉 v2.2.3 (pre-release) has been out since mid January but is no

[2022-03-28 06:38] benz0li commented on #569
See https://github.com/eclipse/openvsx/issues/436 for previous discussion.

[2022-03-28 17:17] filiptronicek commented on #569
Hi @benz0li 👋!

So, about the two extensions (and probably many more): we don't do pre-releases here in the repo, yet. I think it is an interesting idea to explore in the near future, but for now we always publish the latest stable version of extensions and the introduction of double publishing / one for each channel - stable and prerelease would add a quite large amount of complexity, which proba

[2022-03-28 17:24] benz0li commented on #569
Thanks for your prompt reply. I'm not asking about publishing _pre-releases_.

https://open-vsx.org/extension/ms-toolsai/jupyter/2022.3.1000752054 is **not** the latest _stable_ version but a _pre-release_.
ℹ️ https://open-vsx.org/extension/ms-toolsai/jupyter/2022.2.1010641114 is the latest _stable_ version.

[2022-03-28 21:41] filiptronicek commented on #569
Oh, sorry for the misunderstanding, I see what you mean. This is a problem with the publishing script, which published it on the 14th of March, because it couldn't change to a release tag, so it started guessing. It took the first commit around the time of the Microsoft release looking for whatever it could find, after that, it just published what it could, this being the `2022.3.1000752054` versi

[2022-03-28 21:50] filiptronicek commented on #569
This is going to be tricky to solve, since as @benz0li stated, `2022.2.1010641114` is the latest stable version of the extension and this version never appeared in the source code of https://github.com/microsoft/vscode-jupyter, the version in `package.json` is updated ~ once a month. In addition to that, the source code can be the only data source, because although they do publish releases, the la

[2022-03-29 07:17] benz0li commented on #569
For the time being, I will simply _pin_ the version of this extension.

@filiptronicek Thanks for your detailed feedback. Versioning and publishing on Microsoft's side is utterly obscure.

[2022-04-01 13:30] filiptronicek commented on #32
Removed it now, published as it's unmaintained.

[2022-04-01 13:30] #32 closed

[2022-04-04 14:08] ikappas opened #574 "Remove ikappas namespace from auto-publishing"
Hi,

I was prompted to make this request [here](https://github.com/EclipseFdn/open-vsx.org/issues/942#issuecomment-1087583505) in order to move forward with my namespace claim.

Thank you in advance.

[2022-04-04 14:18] #574 closed

[2022-04-04 14:18] filiptronicek commented on #574
@ikappas done ✅

[2022-05-04 10:07] benz0li commented on #569
Your current mechanism for publishing releases of `ms-toolsai.jupyter` seems fine.

I'm going to _pin_ the versions for `ms-toolsai.jupyter` and `ms-python.python` when installing these extensions.
ℹ️ This is required as long as https://github.com/coder/code-server/issues/5031 remains unresolved.

[2022-05-04 10:07] #569 closed

[2022-05-04 10:36] filiptronicek commented on #567
I recently reached out to the OpenVSX guys to see what's up with this one. It seems that this was some weird bug which wasn't appearing in any of the logs, it randomly started publishing successfully some weeks ago. Closing since this is (hopefully) not an issue anymore: https://open-vsx.org/extension/amodio/tsl-problem-matcher

[2022-05-04 10:36] #567 closed

[2022-05-15 22:19] eagleoflqj opened #588 "Pyright is outdated"
https://open-vsx.org/extension/ms-pyright/pyright the newest is 1.1.239
But https://marketplace.visualstudio.com/items?itemName=ms-pyright.pyright the newest is 1.1.247

[2022-05-17 12:07] benz0li opened #591 "[REditorSupport.R] No update after change of publishId"
See https://github.com/REditorSupport/vscode-R/issues/690#issuecomment-1123702750 ff

[2022-05-17 12:12] benz0li commented on #591
@filiptronicek Is there something to be done in this repository, e.g. migrate the extension to the new publishId?

@renkun-ken This seems to be the right time to verify the extension in the Open VSX Registry.

[2022-05-17 12:16] benz0li commented on #591
@filiptronicek @renkun-ken Please get in touch with each other regarding https://github.com/REditorSupport/vscode-R/issues/524 to ensure a smooth transition.

Thank you.

[2022-05-17 15:23] renkun-ken commented on #591
I'd like to hear what should be done on my side?

[2022-05-17 16:10] filiptronicek commented on #591
Hi there @benz0li, thanks for bringing this to our attention.

@renkun-ken I will remove the old version (`Ikuyadeu.r`) from auto-publishing. You should already be the owner of the `REditorSupport` namespace [[1](https://github.com/EclipseFdn/open-vsx.org/issues/341), so the process for publishing should be straight forward: publish the extension from the https://github.com/REditorSupport/vscode-R

[2022-05-18 03:15] renkun-ken commented on #591
I tried manually publishing the v2.5.0 via

[code]

but the following error always occurs:

[code]

[2022-05-19 09:26] benz0li commented on #591
@filiptronicek Could @renkun-ken have missed something from https://github.com/eclipse/openvsx/wiki/Publishing-Extensions?

[2022-05-20 22:14] lovercast opened #592 "Add Isabelle Extension"
Add support for the Isabelle proof assistant extension [`makarius/Isabelle2021-1`](https://marketplace.visualstudio.com/items?itemName=makarius.Isabelle2021-1) which is available from the Microsoft Visual Studio Marketplace.

[2022-05-24 05:52] benz0li commented on #591
@filiptronicek Any news from the team?

[2022-05-24 12:56] filiptronicek commented on #591
I've created a ticket on the helpdesk, since the team member I contacted was not available: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330.

cc @benz0li

[2022-06-01 06:36] benz0li commented on #591
@filiptronicek No reaction at https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330 so far. Please ping the Help Desk once again.

[2022-06-03 13:29] ment1na opened #595 "Add Github Copilot extension"

[2022-06-03 18:33] filiptronicek commented on #595
Hey there @ment1na 👋! Thanks for reaching out about Copilot.

Sadly, GitHub Copilot is proprietary - the source code is private and so we cannot publish it. GitHub would have to do that themselves.

Please feel free to contact GitHub to publish the extension to OpenVSX.

[2022-06-03 18:33] #595 closed

[2022-06-04 09:05] filiptronicek commented on #592
Hey there @lovercast 👋, thanks for reaching out about the Isabelle extension. Could you please first contact the author about them publishing the extension themselves?

If you did that already please let me know. I was not able to find the source code but maybe we just need to dig a bit deeper.

[2022-06-04 09:07] filiptronicek commented on #542
Sorry for not following up earlier, but the extension has now been published by the author [[1](https://github.com/znck/grammarly/issues/184#issuecomment-1120529054)] 🚀, so it's now available.

[2022-06-04 09:07] #542 closed

[2022-06-04 09:10] filiptronicek commented on #34
Since both of these extensions are published now (`IBMBlockchain.ibm-blockchain-platform` is published from bundled `vsix`-es) and `ikappas.phpcs` was one-time published, I am closing this.

[2022-06-04 09:10] #34 closed

[2022-06-04 09:14] filiptronicek commented on #42
No longer an issue: https://github.com/mtxr/vscode-sqltools/blob/0c61f245d3afe0c7e89f8c39f3796b915005f93a/packages/extension/package.json#L63

[2022-06-04 09:14] #42 closed

[2022-06-04 09:25] #197 closed

[2022-06-04 09:31] filiptronicek commented on #488
This extension has been published and discussed in https://github.com/open-vsx/publish-extensions/pull/489.

[2022-06-04 09:31] #488 closed

[2022-06-04 09:54] filiptronicek commented on #310
Looks like this is indeed not an issue anymore, closing :)

[2022-06-04 09:54] #310 closed

[2022-06-04 10:09] filiptronicek commented on #40
Since `0.1.10` is out [[1](https://open-vsx.org/extension/formulahendry/auto-rename-tag)], I believe this is no longer an issue.

[2022-06-04 10:09] #40 closed

[2022-06-04 10:16] filiptronicek commented on #407
`1.0.29` is now the latest release and publishing correctly 🎉 https://open-vsx.org/extension/bmalehorn/vscode-fish/1.0.29

[2022-06-04 10:16] #407 closed

[2022-06-04 15:09] lovercast commented on #592
Hi! Thanks for responding.
The code for the extension is available on the [Mercurial](https://isabelle.in.tum.de/repos/isabelle/file/tip/src/Tools/VSCode) and also on the [Git mirror](https://github.com/seL4/isabelle/tree/master/src/Tools/VSCode).

[2022-06-07 08:55] maxlath opened #601 "Add chakrounanas.turbo-console-log"
[chakrounanas.turbo-console-log](https://github.com/Chakroun-Anas/turbo-console-log) is MIT licensed.

An issue about VSX registery has been opened for some months now but with no response: https://github.com/Chakroun-Anas/turbo-console-log/issues/149

[2022-06-09 20:18] #315 closed

[2022-06-13 18:36] xaberus opened #604 "broken `ms-python.python` builds due to missing translations"
The `ms-python.python` extension now uses an "internal process" to build the VSIX. This process adds translation files that are missing from the regular build. In the regular build the missing files result in all translated strings becoming `Failed to load message bundle. See console for details.` [19280](https://github.com/microsoft/vscode-python/issues/19280)

The proposed solution is to set the

[2022-06-14 08:38] filiptronicek commented on #604
Thanks for raising the issue, @xaberus. For me it's sad to see the extension become more closed-off, and I many thanks for communicating your ideas with the folks at Microsoft.

I have linked a fixing PR, https://github.com/open-vsx/publish-extensions/pull/605. I will first try it out though to see if the artifact has built correctly.

Thanks a lot, again for taking care and communicating the issu

[2022-06-14 09:24] #604 closed

[2022-06-16 22:10] trymeouteh opened #608 "Toggle Quotes"
Please publish the Toggle Quotes extension on open-vsx.

https://marketplace.visualstudio.com/items?itemName=BriteSnow.vscode-toggle-quotes

[2022-06-16 22:14] trymeouteh opened #609 "line-jumper"
Please publish the line-jumper extension on open-vsx.

https://marketplace.visualstudio.com/items?itemName=alekseychaikovsky.line-jumper

[2022-06-18 12:36] benz0li commented on #591
@filiptronicek It is now a month since you opened the ticket at Eclipse Help Desk. Still no reaction...

Could you try to get someone to take care of your ticket? Thank you.

[2022-06-22 06:08] sgtlaggy commented on #588
I managed to track down 2 issues here:
- The id is incorrect, it should be `ms-pyright.pyright`
- The id does not match the values in the [manifest](https://github.com/microsoft/pyright/blob/main/packages/vscode-pyright/package.json), where its name is still `vscode-pyright`, not just `pyright`

The first issue is easy enough, just change the id.
The second, however, doesn't appear to be supported

[2022-06-22 07:15] filiptronicek commented on #588
Hey there @sgtlaggy & @eagleoflqj 👋!

Thanks @eagleoflqj for the report.

Also thanks @sgtlaggy for looking in to this issue, about the ID I have contacted Microsoft to see the purpose or reason for that.

It would not be ideal, but it could be achieved by using the `custom` property in the extension definition.

I will look into this further, because from [the logs](https://github.com/open-vsx/pu

[2022-06-22 08:41] sgtlaggy commented on #588
That error in the logs appears to be due to it having the wrong id and not finding it on the VS Marketplace, so the `.ms*` properties are never set, leading back to the first issue I mentioned.

[2022-06-22 16:31] filiptronicek commented on #588
@sgtlaggy thanks a lot for the help and for bringing this to my attention once again 🙏.

@eagleoflqj the new version should be now published on Open VSX.

[2022-07-07 11:02] filiptronicek commented on #591
Sorry for not mentioning it here, @benz0li, but I have reached out to Eclipse again, I really hope they can take a look now, I will keep in touch with them and post updates here.

[2022-07-11 15:11] maiertech opened #616 "Add extension phoenisx.cssvar"
- Marketplace: https://marketplace.visualstudio.com/items?itemName=phoenisx.cssvar
- Source: https://github.com/willofindie/vscode-cssvar
- Issue in source repo: https://github.com/willofindie/vscode-cssvar/issues/35

See issue in source repo where owner is OK with extension being published.

[2022-07-12 21:02] filiptronicek commented on #616
Hey @maiertech 👋! Thanks for raising the issue upstream and reporting here. I have merged a commit adding the extension and it should be published in about 8 hours.

[2022-07-14 02:44] maiertech commented on #616
This is awesome!

[2022-07-18 06:57] benz0li commented on #591
@renkun-ken @phillc73 The owner of namespace `REditorSupport` at the Open VSX Registry please chime in on https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330. Thank you.

[2022-07-20 14:46] filiptronicek opened #622 "Add support for platform-specific extensions"
Following https://github.com/eclipse/openvsx/pull/406 going forward we should respect extensions with platform-specific versions.

I propose we add the `target` property to the schema for an extension.

[code]

`target` can be anything of the following:
[code]

We would also support resolving platform-specific extensions from GitHub Releases, but here we need to download all artifacts under a rele

[2022-07-22 22:02] sgtlaggy opened #624 "Pyright resolution failing again"
Still seems to be due to the package's id, `ms-pyright.pyright`, not matching the package's `name` from its `package.json`, `vsocde-pyright`, so `resolveVersion` always returns `undefined`.
This is sortof a followup to #588, where this problem was mentioned.

[2022-07-23 10:58] daenney opened #625 "golang.go is not updating"
The extension on OpenVSX is currently [0.34.1](https://github.com/golang/vscode-go/releases/tag/v0.34.1), released on the 30th of June (23 days ago).

In the mean time, 0.35.0 was released 5 days ago (18th of July), and 0.35.1 4 days ago (19th of July). Neither seem to have made it to OpenVSX. The respective releases on https://github.com/golang/vscode-go/releases each contain a `.vsix` artifact.

[2022-07-23 20:29] filiptronicek commented on #625
Hi @daenney 👋, thanks for reporting this. I have looked into it and it was a Javascript thing I did not expect Javascript to do 😄 - https://github.com/open-vsx/publish-extensions/commit/6775ef26fe49caf5f43e5c39b0dc484a8060ba56

[2022-07-23 20:29] #625 closed

[2022-07-24 10:16] benz0li commented on #591
@eclipsewebmaster Could someone please take care of https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330? Thank you.

FYI @mbarbero

[2022-07-24 14:12] daenney commented on #625
Brilliant, thank you so much!

[2022-07-24 14:33] filiptronicek commented on #624
Hi again, @sgtlaggy 👋, thanks for reaching out. It seems that the ID mismatch is more problematic then I initially thought because the renaming happens at the packaging step. This means that we cannot get the version to build from, since we always check that we're getting the correct extension by getting its ID like this (in Pyright's case):
1. We clone the repo
2. We checkout to the tag that corr

[2022-07-24 16:36] sgtlaggy commented on #624
The  prepackage step replaces the `name` in the `package.json` with just `pyright`. Could the process be changed to run prepackage before that?

[2022-07-24 17:40] filiptronicek commented on #624
Sadly not, because we must resolve the name before having the contents of the repo, so we cannot run the script before having access to it... I think I have a fix for this, though, although not perfect, I'll revert the change to the id in the extension's list which will make the resolution work, but always use the latest tag.

[2022-07-24 19:21] sgtlaggy commented on #624
But we already have the contents of the repo when checking the id against the name/publisher in `package.json`, because the `package.json` is in the repo.

[2022-07-27 06:58] benz0li commented on #591
@renkun-ken Can you try again?

Just recently, [Open VSX was unstable](https://github.com/eclipse/openvsx/issues/497) and [rolled back to an older, working state](https://github.com/EclipseFdn/open-vsx.org/issues/1141#issuecomment-1193815762).

Maybe something has changed...

[2022-07-27 07:07] lnicola commented on #591
For the record, rust-analyzer also has platform-specific VSIXes. We've added OpenVSX publishing to CI a while ago, but it never worked, not even while https://github.com/EclipseFdn/open-vsx.org/pull/1094 was merged. See the history on https://github.com/rust-lang/rust-analyzer/actions/workflows/release.yaml.

If anyone on the OpenVSX side wants to look into it (we might very well be using `ovsx` i

[2022-07-27 13:32] filiptronicek commented on #624
That is true, but by "contents" I mean the up-to-date contents according to the latest release. This is different since the id on the default branch could potentially differ from the one we want to release from.

[2022-07-27 14:12] renkun-ken commented on #591
I tried again and still the same...

[2022-08-01 12:48] tweerwag opened #627 "ms-azuretools.vscode-azureresourcegroups isn't published due to dependency"
The extension ms-azuretools.vscode-azureresourcegroups isn't available on Open VSX. In the logs for the Github Action is the following:

[code]

Note that ms-vscode.azure-account is in extensions.json and is available on Open VSX.

[2022-08-01 15:00] #627 closed

[2022-08-01 15:01] filiptronicek commented on #627
Hey @tweerwag, thanks for raising the issue! It seems that this was caused by a regression from https://github.com/open-vsx/publish-extensions/commit/ebf169a32597f37b50a64c2f61ddec6fb5758720, which should be now fixed.

[2022-08-02 18:51] tweerwag commented on #627
Thank you for the quick reaction and fix!

[2022-08-10 22:15] lafriks opened #631 "Vue.volar extension is still missing"
Even though it is added to extension list it still seems to fail to publish

[2022-08-11 12:16] filiptronicek commented on #608
Seems as the author wants to publish themselves (https://github.com/BriteSnow/vscode-toggle-quotes/issues/33). Closing this in favor of that issue.

[2022-08-11 12:16] #608 closed

[2022-08-19 08:43] benz0li commented on #591
I have now written an email to the Eclipse Foundation.

In many projects, communication has suffered somewhat in the time of (and after) COVID-19.

[2022-08-24 05:45] benz0li commented on #591
@filiptronicek They are now waiting for your answer at https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330.

[2022-08-24 16:57] filiptronicek commented on #591
Responded, thanks @benz0li for making me aware of the update, interestingly enough, I did not get an email notification about this 🤔.

[2022-08-31 06:14] benz0li commented on #591
@filiptronicek ping

Another extension facing the same problem.

@MWEclipse It would be great to have some more context on the log excerpt you posted. Thank you.

[2022-09-01 06:42] benz0li commented on #591
[Again: Stability issues with Open VSX](https://github.com/EclipseFdn/open-vsx.org/issues/1210)

[2022-09-01 11:49] ph08n1x opened #634 "Update Request - Volar extension to version 0.40.5"
Hey guys,
I was wondering if it would be possible to request an update to the Volar VsCodium extension to the newest version (0.40.5)?

Would be greatly appreciated!

[2022-09-05 11:18] benz0li commented on #591
@filiptronicek `Ikuyadeu.r` is still in https://github.com/open-vsx/publish-extensions/blob/master/extensions.json.

[2022-09-05 11:22] benz0li commented on #591
@renkun-ken @filiptronicek As long as https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330 remains unresolved, you should consider going back to auto-publishing under the old namespace – if possible.

[2022-09-05 21:46] filiptronicek commented on #591
Thanks for the reminder, removed it from the list in https://github.com/open-vsx/publish-extensions/commit/ab959b1b1ca0bebcf1409a8e0cd844c0b170ac75.

[2022-09-06 10:34] ph08n1x commented on #634
Ah perfect that's wonderful news! Thank you!

Let me know if you need any support though

[2022-09-15 04:04] aflofo opened #641 "Add Vscode Matlab Extension"
https://github.com/Gimly/vscode-matlab

[2022-09-20 05:30] benz0li commented on #591
@renkun-ken @filiptronicek Any news on this issue?

[2022-10-03 23:02] trymeouteh opened #645 "Tauri"
Please publish the line-jumper extension on open-vsx.

https://marketplace.visualstudio.com/items?itemName=tauri-apps.tauri-vscode

[2022-10-07 09:14] #507 closed

[2022-10-08 18:04] trymeouteh opened #647 "Markdown Editor"
Please publish these markdown editors for VSCodium users

https://marketplace.visualstudio.com/items?itemName=adamerose.markdown-wysiwyg-editor&ssr=false#overview

https://marketplace.visualstudio.com/items?itemName=patmood.rich-markdown-editor&ssr=false#overview

https://marketplace.visualstudio.com/items?itemName=MattPerlick.markdown-preview-editor&ssr=false#overview

[2022-10-08 19:10] filiptronicek commented on #647
Hey there @trymeouteh 👋, could you please try contacting the authors of the extensions first as per our [contributing guidelines](https://github.com/open-vsx/publish-extensions#when-to-add-an-extension) 🙏?

[2022-10-08 23:18] trymeouteh commented on #647
Sure thing, I will open up an issue on each of their github repos.

[2022-10-11 17:55] wildernessfamily opened #648 "VSCode RoyAction.color-manager Extension"
Hi, I've been using coder-server for about a month now for remote development. It's been amazing. There is one extension that I use often called color-manager. It's not published in Open VSX. Per your guidelines that state to contact the author first before submitted the request; which I have tried with no success.
Steps that I have taken:
1. I visited the official extension page: https://marketpl

[2022-10-18 08:25] benz0li commented on #591
@MWEclipse I kindly ask you to give your insight on https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330#note_1027645?

[2022-10-25 13:01] benz0li commented on #591
@MWEclipse ping

Would you be so kind to share your insight on https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330#note_1027645?

Thank you.

[2022-10-25 19:29] wvffle commented on #631
Looks like it is published now!

[2022-10-25 19:30] wvffle commented on #634
Although the issue @filiptronicek linked is still unresolved, it seems like https://open-vsx.org/extension/Vue/volar is already there!

[2022-10-26 07:39] #631 closed

[2022-10-26 12:37] filiptronicek commented on #634
Thanks for noting, @wvffle! Seems that magic happened and the internal server issue has been resolved with Volar.

[2022-10-26 12:37] #634 closed

[2022-10-26 22:20] #622 closed

[2022-11-02 12:42] benz0li commented on #591
@renkun-ken Can you try again?

– https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330#note_1033611

[2022-11-02 12:43] benz0li commented on #591
@renkun-ken Please update ovsx before trying.

[2022-11-02 14:25] renkun-ken commented on #591
Just tried with the latest `ovsx` 0.5.2 and still the same old error:

[code]

[2022-11-02 14:40] benz0li commented on #591
@renkun-ken FYI https://github.com/open-vsx/publish-extensions/issues/634#issuecomment-1300555623

[2022-11-02 15:11] benz0li commented on #591
Or maybe it is just not possible to use the same extension name in two different namespaces.

---

`Ikuyadeu.r` (existing; Published by [open-vsx](https://github.com/open-vsx))

vs

 `REditorSupport.r` (new; to be published by [REditorSupport](https://github.com/REditorSupport)).

[2022-11-02 15:18] amvanbaren commented on #591
That should be possible.

https://open-vsx.org/api/REditorSupport:
[code]

[2022-11-02 15:39] filiptronicek commented on #634
@benz0li oh that's expected. We always for every extension try to create the namespace, because it's the easiest way of checking whether it exists or not. For most extensions, it already exists and so it fails -> that is ok since with this step we only want to make sure the namespace exists and if not, create it.

[2022-11-02 15:39] benz0li commented on #591
I assume it is the very same problem for the following extensions:

* `Ikuyadeu.r` vs `REditorSupport.r`
* `matklad.rust-analyzer` vs `rust-lang.rust-analyzer`
* `richardwillis.vscode-gradle` vs `vscjava.vscode-gradle`

@renkun-ken @lnicola @badsyntax Is my assumption correct? Please confirm or deny.

---

It works for `Vue.volar` now because it is [still published by open-vsx](https://open-vsx.or

[2022-11-02 15:44] lnicola commented on #591
@benz0li you're right, `matklad.rust-analyzer` exists and we can't publish `rust-lang.rust-analyzer`.

I don't think it's the name _per se_. https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330#note_1033949 fails on a duplicate GUID, which seems to belong to `Ikuyadeu.r`.

[2022-11-02 18:01] benz0li commented on #591
Here we go: https://open-vsx.org/extension/rust-lang/rust-analyzer

[2022-11-02 18:10] benz0li commented on #591
1. Problem: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330#note_1034045
1. Solution: https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330#note_1034052

@renkun-ken @badsyntax Same procedure for `REditorSupport.r` and `vscjava.vscode-gradle`.

[2022-11-02 18:14] benz0li commented on #591
Sorry for all the cross-posting, but I wanted to get the to bottom of this – without creating yet another account.

Thank you @amvanbaren and @MWEclipse for all your support and insight. Keep up the great work @EclipseFdn!

Thank you @filiptronicek.

[2022-11-02 18:17] benz0li commented on #591
@renkun-ken It would be great, if you could re-release older versions of the R extension under the new namespace (`REditorSupport`) at the Open VSX registry.

[2022-11-02 20:05] badsyntax commented on #591
@benz0li can you clarify exactly what you want me to confirm or deny?

[2022-11-02 20:11] benz0li commented on #591
The extension is already published at https://open-vsx.org/extension/richardwillis/vscode-gradle. Confirm or deny whether you want to publish at https://open-vsx.org/extension/vscjava/vscode-gradle or not.

(Has the extension been migrated at the [VS Code marketplace](https://marketplace.visualstudio.com/items?itemName=vscjava.vscode-gradle) at some point?)

[2022-11-02 20:16] badsyntax commented on #591
@benz0li The extension was transferred to Microsoft and republished in a different namespace in the marketplace. I no longer own the project and thus won't be able to publish to open-vsx under the new namespace. Not sure what to do in this scenario. Best I can do is try remove the old extension from open-vsx. Any suggestions?

[2022-11-02 20:29] benz0li commented on #591
IMHO Removing all published versions of [`richardwillis.vscode-gradle`](https://open-vsx.org/extension/richardwillis/vscode-gradle) and republish by [open-vsx](https://github.com/open-vsx) via https://github.com/open-vsx/publish-extensions as done for the other extensions in namespace `vscjava`.

Surprisingly, it is already part of https://github.com/open-vsx/publish-extensions/blob/master/extensi

[2022-11-02 20:40] benz0li commented on #591
Everything relevant has now been recorded here.

As soon as the R extension is released under the new namespace, I will close it.

[2022-11-03 00:44] renkun-ken commented on #591
Not sure if I'm understanding it correctly. I just need to remove all previous releases of `Ikuyadeu.r` and re-release older versions of the R extension under the new namespace?

It seems that I cannot remove `Ikuyadeu.r` since it is not under the new namespace?

<img width="786" alt="image" src="https://user-images.githubusercontent.com/4662568/199627587-724a5b39-a340-41a6-9382-4cad73e1224f.png">

[2022-11-03 06:45] benz0li commented on #591
Yes, since there does not seem to be a way to migrate to another namespace. Removal will most likely be done by @kineticsquid on request.

Yes, please.

That would be OK with me. I can not speak for others, though.

[2022-11-03 07:00] renkun-ken commented on #591
@kineticsquid, please remove `Ikuyadeu.r`. I also want to remove `REditorSupport.r-lsp` which is deprecated, but I don't know how.

Once they are removed, I'll publish since v2.5.0.

[2022-11-03 07:39] benz0li commented on #591
@renkun-ken Please ask for removal at https://gitlab.eclipse.org/eclipsefdn/helpdesk/-/issues/1330, too.

The staff from Eclipse Foundation is not that responsive here [on GitHub].

[2022-11-03 18:19] renkun-ken commented on #591
Done 👌

[2022-11-03 19:20] benz0li commented on #591
I am happy to finally close this issue.

Big thank you @ren-kun and @kineticsquid

---

Final note: When installing via CLI on code-server with `code-server --install-extension REditorSupport.r` the installed versions differ as follows:

* `linux/amd64`: v2.6.1
* `linux/arm64/v8`: v2.5.3

@renkun-ken Any idea, why this happens?

Workaround: Pin version with `code-server --install-extension REditor

[2022-11-03 19:20] #591 closed

[2022-11-15 22:07] filiptronicek commented on #648
Hey there @wildernessfamily 👋!

I am really amazed by the effort you put in to contacting the author 😄, I think we can sort this out by publishing automatically from here. I have commited the change to add the extension to the repo and will let you know when it is published.

[2022-11-15 22:14] filiptronicek commented on #648
The extension has been published: https://open-vsx.org/extension/RoyAction/color-manager

[2022-11-15 22:15] filiptronicek commented on #648
Thanks a lot for the efforts again, @wildernessfamily, glad to have the extension on Open VSX.

[2022-11-15 22:15] #648 closed

[2022-11-16 15:39] GitMensch opened #652 "missing, but defined extension rioj7.FileGroup"
After searching open-vsx.org for "fileGroup" and not finding it there I've checked in the original repo, got back to https://github.com/rioj7/fileGroup/issues/3, then tried the CI and was prompted with:

[code]

... so something does not work

[2022-11-17 07:35] yajo opened #653 "Publish pre-release channel for `ms-python.black-formatter`"
There's a problem with this extension. It's not working if your host uses python 3.11.

It's fixed in the pre-release: https://github.com/microsoft/vscode-black-formatter/issues/144#issuecomment-1295284755

Is there a way to publish a pre-release channel in open VSX too?

[2022-11-17 10:50] filiptronicek commented on #653
Hey @yajo! Thanks for noticing and reporting this. I'll take a look soon because this looks like something we should resolve, but this repo does not do pre-releases as of now.

Could do a manual one though, will get back to you here.

[2022-11-17 17:37] filiptronicek commented on #652
Added the necessary dependency that was causing the extension to not publish: https://github.com/open-vsx/publish-extensions/commit/c0aff09d067db19cb3eee77e50542ab0372851c2.

[2022-11-17 17:42] GitMensch commented on #652
Thanks. Now there's only one other extension from the same publisher which is hardly missing - but I can't that to build at all https://github.com/rioj7/command-variable/issues/44 :-/

[2022-11-17 17:44] filiptronicek commented on #652
@GitMensch do you know whether we've asked the publisher to overtake publishing to Open VSX? Maybe that would be easier 🙂

[2022-11-17 17:51] GitMensch commented on #652
We did both, see the referenced issue in the topic start.

[2022-11-17 17:55] filiptronicek commented on #652
Ooooh, silly me, didn't spot the issue and forgot I even replied to it myself 😆.

The extension is published now btw! https://open-vsx.org/extension/rioj7/FileGroup

[2022-11-17 17:55] #652 closed

[2022-11-25 16:33] filiptronicek commented on #653
@yajo I published https://open-vsx.org/extension/ms-python/black-formatter/2022.7.13271013, can you take a look to verify whether that solved the issue? 🙏

[2022-11-30 17:53] yajo commented on #653
Yeah, so it seems. Thanks!

[2022-11-30 17:53] #653 closed